@charset "utf-8";

/* ui slide */
.ui-slide{position:relative; top:0; left:0; z-index:0; width:100%; height:100%; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}
.ui-slide-wrap{position:relative; top:0; left:0; z-index:0; width:100%; height:100%; overflow:hidden;}
.ui-slide-itemwrap{position:relative; top:0; z-index:0; width:100%; height:100%;}
.ui-slide-wrap{-webkit-transition:height 0.3s; -moz-transition:height 0.3s; -o-transition:height 0.3s; transition:height 0.3s;}
.ui-slide.load .ui-slide-item{opacity:1; display:block;}
.ui-slide-item{display:none; position:absolute; top:0; opacity:0; z-index:0; cursor:move;}
.ui-slide-item[aria-hidden="false"]{display:block; z-index:5;}
.ui-slide-tit{display:none; position:absolute; z-index:10;}
.ui-slide-dotwrap{position:absolute; bottom:0; left:0; z-index:10; width:100%; text-align:center;}
.ui-slide-navwrap button{position:absolute; top:50%; z-index:10;}
.ui-slide-navwrap .ui-slide-next{right:0;}
.ui-slide-navwrap .ui-slide-prev{left:0;}
.ui-slide-dot[aria-selected="true"]{font-weight:600;}
.ui-slide-gauge{position:absolute; width:100%; height:0.5rem; background-color:#ccc;}
.ui-slide-gaugebar{position:absolute; top:0; width:0; height:100%; background-color:red;}
/* multi */
.ui-slide-multi .ui-slide-itemwrap{width:auto; overflow:hidden; cursor:move;}
.ui-slide-multi .ui-slide-item{float:left; position:relative; left:0 !important;}

/* count number */
.ui-count{display:inline-block; overflow:hidden; vertical-align:bottom;}
.ui-count > div{display:inline-block; overflow:hidden; position:relative;}
.ui-count-og{display:inline-block; position:relative; top:0;}
.ui-count-num{position:absolute; top:0;}
.ui-count-num span{display:block;}

/* ui position */
.ui-position-wrap{position:relative; width:100%; height:5.0rem;}
.ui-fixed-bottom .ui-position-wrap{position:fixed; bottom:0; left:0; z-index:999;}
.ui-fixed-top .ui-position-wrap{position:fixed; top:0; left:0; z-index:999;}
.ui-follow-bn{position:absolute; z-index:999;}
.ui-follow-bn.fix{position:fixed;}
    /* steyle */
    .type-sidebn{right:1.0rem;}

/* ui slider slider */
.ui-slider{position:relative; width:100%; padding:5.0rem 5.0rem 0;}
.ui-slider-wrap{position:relative; width:100%; padding:0.5rem 0; z-index:1;}
.ui-slider-bg{position:relative; width:100%; background-color:#ccc; height:1.0rem; border-radius:0.5rem;}
.ui-slider-bar{position:absolute; width:0; height:100%; top:0; left:50%; background:#303030; border-radius:0.5rem; z-index:2; transition:all 0.2s;}
[class^="ui-slider-btn"]{position:absolute; top:0; background:#fff; border:1px solid #303030; width:2.0rem; height:2.0rem; border-radius:1.0rem; z-index:3; overflow:hidden; color:transparent; font-size:xx-small; transition:left 0.2s; margin-left:-1.0rem;}
[class^="ui-slider-btn"]:focus,
[class^="ui-slider-btn"].on{z-index:4;}
[class^="ui-slider-btn"] span{position:absolute; top:0; left:0; width:100%; height:100%;}
.ui-slider-divwrap{position:relative; z-index:0; width:100%; height:3.0rem; }
.ui-slider-div{position:absolute; bottom:0; padding:0; z-index:1; display:block; height:3.0rem;}
.ui-slider-div em{display:block; text-align:center; width:100%; position:absolute; top:1.0rem; box-sizing:border-box; white-space:nowrap; font-size:1.1rem}
.ui-slider-div:after{content:""; position:absolute; top:0; left:50%; display:block; width:0.1rem; height:1.0rem; border-left:0.1rem solid #ccc;}
.ui-slider-tooltip{position:absolute; top:-4.0rem; overflow:hidden; text-align:center; border:0.1rem solid #303030; background:#fff; padding:0.5rem 1.0rem; z-index:1; white-space: nowrap; transition:all 0.2s;}

.type-reverse .ui-slider-bar{left:auto}
.type-reverse [class^="ui-slider-btn"]{margin-right:-1.0rem; margin-left:0}

.type-vertical{width:10.0rem; height:30.0rem; padding:2.0rem}
.type-vertical .ui-slider-wrap{width:2.0rem; height:100%; padding:0 0.5rem;}
.type-vertical .ui-slider-bg{width:1.0rem; height:100%;}
.type-vertical .ui-slider-bar{width:1.0rem; height:0; top:auto; left:0;}
.type-vertical [class^="ui-slider-btn"]{top:auto; left:0; margin:-1.0rem 0 0;}
.type-vertical .ui-slider-divwrap{position:absolute; top:0; left:1.5rem; width:auto; height:100%; }
.type-vertical .ui-slider-div{width:100%; padding-left:1.5rem; bottom:auto}
.type-vertical .ui-slider-div:after{top:50%; left:0; width:1.0rem; height:0.1rem; border-top:0.1rem solid #ccc; border-left:0}
.type-vertical .ui-slider-div em{text-align:left; top:0.5rem}
.type-vertical .ui-slider-tooltip{left:auto; right:2.0rem}

.type-vertical.type-reverse .ui-slider-btn-s,
.type-vertical.type-reverse .ui-slider-btn-e{margin:0 0 -1.0rem;}
.type-vertical.type-reverse .ui-slider-tooltip{top:auto}

	.ui-m .ui-slider-div{font-size:1.1rem;}
	.ui-m .ui-slider-div.n0 em{padding-left:0; text-align:center;}
    .ui-m .ui-slider-div.n10 em{padding-right:0; text-align:center;}
    
/* ui modal layer popup*/
/* modal zindex값은 1000 부터 시작 */
.ui-modal{display:none; opacity:0; position:fixed; z-index:1001; width:auto; padding:0; height:auto;}
.modal-open{overflow:hidden;}
.ui-modal-wrap{width:100%; height:100%; background:green;}
.ui-modal-tit{width:100%;}
.ui-modal-tit h1{font-size:2.0rem; color:#fff; text-align:center; height:100%; padding:1.0rem; background-color:#333333;}
.ui-modal-cont{position:relative; overflow-y:auto; overflow-x:hidden; width:100%; padding:4.0rem; background-color:#fff;}
.ui-modal-wrap .btn-close{position:absolute; top:0; right:0; z-index:3;}
.modal-backdrop{display:none; opacity:0; position:fixed; top:0; left:0; z-index:1000; width:100%; height:200%; background-color:rgba(0,0,0,0.7);}
    .ui-m .ui-modal{min-width:32.0rem; max-width:100%; padding:0;}
    .ui-m .ui-modal-wrap{height:100%;}
    .ui-m .ui-modal-cont{background:#fff; padding:1.5rem; height:auto; overflow:auto; font-size:1.5rem;}
    .ui-m .ui-modal-tit{min-height:7.0rem; position:relative; border:0; top:0; left:0; z-index:1; padding:0; min-height:5.0rem; max-height:100%;}
    .ui-m .ui-modal-tit h1{font-size:2.0rem; padding:1.5rem 4.5rem 1.0rem; background-color:#118ccf; width:100%; min-height:5.0rem; height:100%;}
    .ui-m .ui-modal-close{position:absolute; top:0; right:1.0rem1.0rem; z-index:101; background-size:13.0rem 13.0rem; background-position:1.0rem 1.0rem;}
    .ui-m .ui-modal-full .ui-modal-tit{padding:0;}
    .ui-m .ui-modal-full .ui-modal-close{right:0;}
    .ui-m .ui-modal-full .ui-modal{position:relative; padding:0;}
    .ui-m .ui-modal-full .base-landing,
    .ui-m .ui-modal-full .base-wrap,
    .ui-m .ui-modal-full .ui-modal-tit,
    .ui-m .ui-modal-full .ui-modal-close{position:fixed;}
    .ui-m .ui-modal-full .backdrop{background:rgba(255,255,255,1);}

/* ui-acco : base layout ------------------------------------------ */
.ui-acco{position:relative;}
.ui-acco-wrap{position:relative; width:100%; padding:0; margin:0}
.ui-acco .ui-acco-tit{box-sizing:border-box; position:relative; border-bottom:0.1rem solid #ccc; margin:0; padding:1.0rem; background:#f2f2f2;}
.ui-acco .ui-acco-tit h1{position:relative; z-index:0;}
.ui-acco-btn{cursor:pointer; position:absolute; top:0; left:0; z-index:1; width:100%; height:100%; box-sizing:border-box; text-align:right;}
.ui-acco .ui-acco-pnl{position:relative; box-sizing:border-box; border-bottom:0.1rem solid #ccc; margin:0; padding:2.0rem;}

/* ui-tab : base layout ------------------------------------------ */
.ui-tab{position:relative; margin:1.0rem 0}
.ui-tab-btns{position:relative; overflow:hidden; z-index:1}
.ui-tab-btns:after{content:""; display:block; clear:both;}
.ui-tab-btn{box-sizing:border-box; float:left;}
.ui-tab-btn[aria-selected="true"]:hover i,
.ui-tab-btn[aria-selected="true"]:focus i{border-bottom:0.1rem solid #fff;}
.ui-tab-btn:hover i,
.ui-tab-btn:focus i{border-bottom:0.1rem solid #666;}
.ui-tab-pnls{box-sizing:border-box; position:relative;}
.ui-tab-pnl{box-sizing:border-box; top:0; left:0;} 
.ui-tab-pnl,
.ui-tab-pnl[aria-hidden='true']{visibility:hidden; position:absolute; opacity: 0;}
.ui-tab-pnl[aria-hidden='false']{visibility:visible; position:relative; opacity: 1; z-index:1;}
	/* ui-tab : base style */
	.ui-tab-btn{padding:1.0rem 2.0rem 0.9rem; min-height:4.0rem; background:#ececec; border:0.1rem solid #ccc; border-left:0; font-size:1.4rem;}
	.ui-tab-btn:first-child{border-left:0.1rem solid #ccc;}
	.ui-tab-btn[aria-selected='true']{background:#fff; color:red; border-bottom:0.1rem solid #fff; font-weight:400;}
	.ui-tab-pnls{width:100%; font-size:1.4rem; border:0.1rem solid #ccc; margin-top:-0.1rem}
	.ui-tab-pnl{width:100%; padding:1.0rem; top:0; left:0; background:#fff;} 
	/* ui-tab : eff */
	.ui-tab.eff-fade .ui-tab-pnl{-webkit-transition:opacity 0.3s; -moz-transition:opacity 0.3s; -o-transition:opacity 0.3s; transition:opacity 0.3s;}

/* ui-form radio & checkbox */
input[type="radio"],
input[type="checkbox"]{opacity:0; display:inline-block; position:absolute; z-index:-1; vertical-align:top; appearance:none; -moz-appearance:none; -webkit-appearance:none; margin:0;}
/* base style */
.lb-radio,
.lb-check{position:relative; display:inline-block; vertical-align:middle; min-height:2.0rem; font-size:1.3rem; color:#666; padding:0; margin:0 1.0rem 1.0rem 0; cursor:pointer;}
.lb-radio:before,
.lb-check:before{content:""; display:inline-block; vertical-align:middle; width:2.0rem; height:2.0rem; background:url(/html/resources/img/common/ico_form.png) no-repeat 0 0; margin-right:0.4rem; z-index:0; background-size:20.0rem 20.0rem}
.lb-radio:before{background-position:0 0;}
.lb-check:before{background-position:0 -5.0rem;}
.lb-radio.checked:before{background-position:-5.0rem 0;}
.lb-check.checked:before{background-position:-5.0rem -5.0rem;}
.lb-radio.checked,
.lb-check.checked{color:#000;}
.lb-radio.disabled,
.lb-check.disabled{opacity:0.3; cursor:not-allowed;}
input[type="radio"]:focus span,
input[type="checkbox"]:focus span,
.lb-radio.activated span,
.lb-check.activated span{border-bottom:0.1rem solid #ccc;}
.lb-radio span,
.lb-check span{display:inline-block; vertical-align:middle; height:100%; border-bottom:0.1rem solid transparent;}
.lb-check.all{font-size:1.6rem; color:#444;}
.lb-check.all span{padding-top:0.1rem;}

/* ui file */
.ui-file{margin:1.0rem 0}
.ui-file-wrap{display:inline-block}
.ui-file-inp{position:absolute; width:0; height:0; z-index:-1; color:transparent; overflow:hidden; font-size:xx-small; line-height:0;}

/* ui card list : base */
.ui-cardlist{position:relative; width:100%;}
.ui-cardlist-wrap{margin:0; padding:0;}
.ui-cardlist-item{display:block; opacity:0; box-sizing:border-box; overflow:hidden; list-style:none;}
.ui-cardlist.trans .ui-cardlist-item{-webkit-transition:opacity 0.3s; -moz-transition:opacity 0.3s; -o-transition:opacity 0.3s; transition:opacity 0.3s;}

    /* style */
	.ui-cardlist-item{width:15.0rem; border:0.1rem solid #e8e8e8; padding:0.3rem; background:#fff; color:#444; text-align:center;}
	.ui-cardlist-item img{width:100%;}

/* dropdowns : base layout ------------------------------------------ */
.ui-drop{position:relative; display:inline-block;}
.ui-drop-pnl{position:absolute; z-index:999; background:transparent;}
.ui-drop-pnl,
.ui-drop-pnl[aria-hidden='true']{display:none;}
.ui-drop-box{background:#fff; border:0.2rem solid #222; padding:1.0rem; border-radius:1.0rem}
.ui-drop-pnl .btn-close{position:absolute; top:0.6rem; right:0.6rem}
.ui-drop-pnl .btn-close:before,
.ui-drop-pnl .btn-close:after{background:#222}

/* ui slot style : base*/
.ui-slot{position:relative; overflow:hidden; width:20.0rem; height:30.0rem;}
.ui-slot-wrap{position:absolute; top:0; left:0; width:100%; overflow:hidden; padding:0; margin:0;}
.ui-slot-item{width:100%; height:20.0rem; float:left; list-style:none}
.ui-slot-wrap.move{-webkit-transition:top 1.5s; -moz-transition:top 1.5s; -o-transition:top 1.5s; transition:top 1.5s;}

/* ui codinglist */
.ui-codinglist{width:100%; margin:3.0rem 0 0}
.ui-codinglist table{width:100%; }
.ui-codinglist thead th{background:#3a3a3a; color:rgb(241, 241, 241); border:0.1rem solid #222; padding:0.4rem 1.0rem; font-size:1.0rem; letter-spacing:0.1rem;}
.ui-codinglist th,
.ui-codinglist td{border:0.1rem solid #e4e4e4; padding:0.3rem 1.0rem; text-align:left; font-weight:400; font-size:1.2rem;}
.ui-codinglist col{width:auto;}
.ui-codinglist col.col1{width:5.5rem;}
.ui-codinglist col.col2,
.ui-codinglist col.col3,
.ui-codinglist col.col4{width:6.5rem;}
.ui-codinglist col.col5{width:4.0rem;}
.ui-codinglist col.col8{background:#f2f2f2;}
.ui-codinglist thead th:nth-child(1),
.ui-codinglist thead th:nth-child(2),
.ui-codinglist thead th:nth-child(3),
.ui-codinglist thead th:nth-child(4),
.ui-codinglist thead th:nth-child(5), 
.ui-codinglist .state,
.ui-codinglist .date,
.ui-codinglist .enddate,
.ui-codinglist .name,
.ui-codinglist .img{text-align:center; word-break:keep-all;}
.ui-codinglist .d{color:#ccc;}
.ui-codinglist .end .d{color:#e48dad;}
.ui-codinglist .c1 .d1,
.ui-codinglist .c2 .d2,
.ui-codinglist .c3 .d3,
.ui-codinglist .c4 .d4,
.ui-codinglist .c5 .d5,
.ui-codinglist .c6 .d6,
.ui-codinglist .c7 .d7,
.ui-codinglist .c8 .d8{color:#000;}
.ui-codinglist .hidden span{display:none;}
.ui-codinglist .hidden{border:0 !important; display:none;}
.ui-codinglist .ing{background:#f0faff;}
.ui-codinglist .ing td{border-bottom:0.1rem solid #b9dff3;}
.ui-codinglist .tst{background:#fff9da;}
.ui-codinglist .tst td{border:0.1rem solid #fdea86;}
.ui-codinglist .trm{background:#f9d5e2;}
.ui-codinglist .end{background:#ffbdd5;}
.ui-codinglist .end td{border:0.1rem solid #f1a3c0;}
.ui-codinglist .end a,
.ui-codinglist .end button{color:#fe0980 !important;}
.ui-codinglist .del span{opacity:0.1;}
.ui-codinglist .del{background:#f7f7f7;}
.ui-codinglist .overlap{color:#ccc !important;} 
.ui-codinglist .overlap span{font-size:1.2rem; opacity:0.5;}
.ui-codinglist .img img{width:2.0rem;}
.ui-codinglist-sel,
.ui-codinglist-info{margin:1.0rem 0; padding:0}
.ui-codinglist-info li{display:inline-block; padding:0.5rem}
.ui-codinglist-sel a,
.ui-codinglist-sel button,
.ui-codinglist-sel select{margin:0 0.5rem 0.5rem 0}
    .ui-m .ui-codinglist thead{display:none;} 
    .ui-m .ui-codinglist tr{display:block; width:100%; border-bottom:0.1rem solid #d8d8d8; overflow:hidden; padding:1.0rem; box-sizing:border-box;}
    .ui-m .ui-codinglist .end{border-color:#f1a3c0;}
    .ui-m .ui-codinglist .ing{border-color:#b9dff3;}
    .ui-m .ui-codinglist td{display:block; float:left; border:0; padding:0.3rem;}
    .ui-m .ui-codinglist td img{width:1.4rem; margin-top:0.2rem;}
    .ui-m .ui-codinglist .root{display:none;}
    .ui-m .ui-codinglist .d1{margin-left:.5rem; clear:both;}
    .ui-m .ui-codinglist .d1:before{content:'-'; display:inline-block; padding-right:0.5rem;}
    .ui-m .ui-codinglist .d{color:#222;}
    .ui-m .ui-codinglist .memo{clear:both; background:rgb(255, 254, 223); width:100%; border-radius:0.3rem; padding:1rem;}
    .ui-m .ui-codinglist .memo.none{display:none;}
    .ui-m .ui-codinglist .date:before{content:'ⓢ'; display:inline-block;}
    .ui-m .ui-codinglist .date:after{content:' ~'; display:inline-block; padding-left:0.5rem;}
    .ui-m .ui-codinglist .enddate:before{content:'ⓔ'; display:inline-block;}

/* mobile console */
.ui-console{position:fixed; bottom:0; left:0; width:100%; height:2.0rem; z-index:9999999;}
.ui-console.on{height:50%;}
.ui-console-open{position:relative; left:50%; margin-left:-2.0rem; border-top-left-radius:2.0rem; border-top-right-radius:2.0rem; width:4.0rem; height:2.0rem; background:rgba(0,0,0,0.8); color:transparent; overflow:hidden; font-size:xx-small;}
.ui-console-open:after,
.ui-console-open:before{content:""; display:block; width:0.2rem; height:1.0rem; background:#fff; position:absolute;}
.ui-console-open:before{transform:rotate(45deg); top:0.8rem; left:1.6rem;}
.ui-console-open:after{transform:rotate(-45deg); top:0.8rem; left:2.2rem;}
.ui-console-tab{width:100%; height:3.0rem; background:rgba(0,0,0,0.8); display:flex;}
.ui-console-tab button{height:2.8rem; flex:1 auto; padding:0 1.0rem; color:#fff; font-family:'small fonts';}
.ui-console-view{position:relative; width:100%; height:100%; background:rgba(0,0,0,0.7); color:#fff; overflow:scroll; padding:1.0rem 1.0rem 10.0rem; box-sizing:border-box; letter-spacing:0.1rem; font-family:'small fonts'; font-size:1.1rem;}
.ui-console-view pre{letter-spacing:0.1rem; font-family:'small fonts'; font-size:1.1rem;}
.ui-console-clear{position:absolute; top:6.0rem; right:1.0rem; z-index:1; width:2.0rem; height:2.0rem; background:red; border-radius:1.0rem; color:transparent; overflow:hidden; font-size:xx-small;}
.ui-console-clear:after,
.ui-console-clear:before{content:""; display:block; width:0.2rem; height:1.0rem; background:#fff; position:absolute;}
.ui-console-clear:before{transform:rotate(45deg); top:0.5rem; left:0.9rem;}
.ui-console-clear:after{transform:rotate(-45deg); top:0.5rem; left:0.9rem;}
.ui-console-wrap{display:block; clear:both; border-bottom:0.1rem solid rgba(255,255,255,0.2);}
.ui-console-wrap .ui-console-item{display:inline-block; padding:0.2rem;}
.ui-console-wrap .ui-console-item:after{content:", "; display:inline-block;}
.ui-console-wrap .ui-console-item:last-child:after{display:none;}