@charset "utf-8";
/* util, header */
.topbanner{position:relative;height:60px;background:#f2edd9}
.topbanner .inner{position:relative;width:1120px;height:60px;margin:0 auto}
	.ui-m .topbanner{height:auto}
	.ui-m .topbanner .inner {width:100%;height:auto}
	.ui-m .topbanner .inner a img{max-width:100%}

.topbanner .top-cookie-wrap{position:absolute;top:0;right:0;z-index:10;width:100%;text-align:right}
.topbanner .top-cookie-wrap .btn-close-x{width:19px;height:18px;margin:8px 0 0;background:url(../images/common/ico_closethick.png) no-repeat;text-indent:-9999em}
	.ui-m .topbanner .top-cookie-wrap .btn-close-x{margin:8px 10px}
.topbanner .top-cookie-wrap label{position:absolute;top:34px;right:0;color:#fff;font-size:14px}
	.ui-m .topbanner .top-cookie-wrap label{display:none}
.topbanner input[type="checkbox"]{width:15px;height:15px;border:none;background-color:#fff;opacity:1;position:inherit;left:-20px;z-index:0;-webkit-appearance:inherit;-moz-apperance:inherit}
.topbanner input[type="checkbox"]:checked{background:url(../images/main/ico_top_checked.png) no-repeat}

.toplink{position:fixed;right:-1px;top:-1px;padding:0;margin:0;z-index:88}
.toplink a{display:inline-block;width:164px;height:164px;background:url(../images/common/top_link.png) no-repeat;color:transparent}
.toplink a span{display:inline-block;position:absolute;z-index:-10;width:0 !important;height:0 !important;overflow:hidden !important;opacity:0 !important;filter:alpha(opacity=0);-ms-filter:'alpha(opacity=0)';font-size:medium;line-height:normal;word-break:break-all}
	.ui-m .toplink{display:none}
.header{position:relative;z-index:9;background:#35373a}
	/* .ui-m .header{position:fixed;top:0;left:0;width:100%} */
	.ui-m .main{padding-top:0}
.header .header-wrap{position:relative;height:110px}
	.ui-m .header{z-index:111}
	.ui-m .header .header-wrap{height:46px}
.header .header-inner{width:1120px;margin:0 auto}
	.ui-m .header .header-inner{width:100%;height:46px}

.header .header-logo{position:relative;float:left;margin-top:46px;margin-right:50px;;width:192px;height:37px;line-height:1;z-index:1112}
.header .header-logo a{display:block}
.header .header-logo a img{max-width:100%}
	.ui-m .header .header-logo{float:none;width:90px;margin:0 auto}
	.ui-m .header .header-logo a{padding:7px 0 0}

.header .util-top{float:right;height:50px;padding-top:12px;box-sizing:border-box;overflow:hidden}
.ui-d .header .util-top>ul{float:left}
	.ui-m .header .util-top{position:absolute;top:0;width:100%;height:84px;padding-top:9px;padding-left:0;background:#32373f}
.header .util-etc{display:inline-block}
.header .util-etc:after,
.header .util-top:after{content:"";display:block;clear:both}
.header .util-top li{float:left;margin:0 12px}
.header .util-top li.ut_last{margin:0 0 0 12px}
.header .util-top a{display:inline-block;color:#aeafb0;font-size:12px;text-decoration:none}
	.ui-m .header .util-top a{display:block}
.header .util-top a:hover{text-decoration:none}
.header .util-top .point{color:#e51937}
.header .util-top .total-memu span{display:inline-block;font-size:0;text-indent:-9999em}
.header .util-top .total-memu{display:inline-block;width:15px;height:15px;background:url(../images/common/ico_totalmenu.png) no-repeat}

.header .gnb-wrap{position:relative;top:50px;height:60px;line-height:0;z-index:1111}
.header .gnb{display:inline-block;padding:0;margin:-50px 0 0 0}
.header .gnb:after{content:"";display:block;clear:both}
.header .gnb li{float:left}
.header .gnb.depth1>li{height:60px;padding:10px 0;box-sizing:border-box}
	.ui-m .header .gnb{margin:0}
	.ui-m .header .gnb-wrap{position:fixed;top:84px;width:108px;min-height:660px;background:#fff;line-height:1.2;overflow:hidden}	
	.ui-m .header .gnb.depth1>li{float:none;width:108px;height:inherit;padding:0;border-bottom:1px solid #e4e4e4;background:#fff}
	.ui-m .header .gnb.depth1>li.on{background:#fff}	
	.ui-m .header .gnb.depth1>li a{color:#32373f;white-space:nowrap;font-weight:bold}

.header .gnb a{display:block;padding:15px 0;margin:0 27px;color:#fff;font-size:17px;line-height:0;text-decoration:none}
.header .gnb a:hover{text-decoration:none}
	.ui-m .header .gnb a{padding:15px 12px 12px;margin:0;font-size:13px;line-height:1.3}
.header .nav-campain{position:absolute;right:0;bottom:0;display:inline-block;width:155px;height:60px;padding:7px 0;border:1px solid #e51836;border-bottom:0;border-top-left-radius:8px;border-top-right-radius:8px;box-sizing:border-box;color:#e83a53;font-size:14px;font-weight:500;text-decoration:none;text-align:center;line-height:1.4}
.header .nav-campain span{display:block;font-size:17px}
	.ui-m .header .nav-campain{bottom:auto;right:auto;top:224px;left:5px;width:77px;height:auto;margin:5px;width:88px;padding:15px 10px 12px;border:1px solid #e51836;border-bottom:1px solid #e51836;border-top-left-radius:0;border-top-right-radius:0;box-sizing:border-box;font-size:11px;text-align:left;font-family:Arial, Helvetica, sans-serif;letter-spacing:0;line-height:1}
	.ui-m .header .nav-campain span{font-size:13px;font-weight:bold;font-family:inherit;letter-spacing:-1px;padding-bottom:5px}

	.ui-m .util-etc{height:38px}
	.ui-m .util-etc li{margin:0 5px}
	.ui-m .util-etc li a{padding:5px 10px;color:#f58026;font-size:13px}
	.ui-m .util-etc .m-login{margin:0 10px}
	.ui-m .util-etc .m-login a{width:65px;height:30px;padding:0;line-height:27px;background:#e51937;border:1px solid #e51937;box-sizing:border-box;color:#fff;font-size:12px;text-align:center}
	.ui-m .util-box{float:left;width:100%;border-top:1px solid #465161}
	.ui-m .util-box li{width:25%;height:35px;margin:0;background:#3a414c;border-left:1px solid #465161}
	.ui-m .util-box li:first-child{border-left:1px solid #465161}
	.ui-m .util-box li a{height:35px;line-height:32px;text-align:center;color:#dddee0}
	.ui-m .util-box li a.point{color:#dddee0}
	.ui-m .event-check i:before{content:"";display:inline-block;width:14px;height:16px;margin-right:4px;background:url(../images/common/ico_common.png) no-repeat;background-size:250px 250px;background-position:-225px -64px}
	.ui-m .event-draw i:before{content:"";display:inline-block;width:14px;height:16px;margin-right:4px;background:url(../images/common/ico_common.png) no-repeat;background-size:250px 250px;background-position:-196px -64px}
	.ui-m .header .btn-close-x{position:absolute;top:11px;right:8px;width:26px;height:26px;background:url(../images/common/ico_x.png) no-repeat 50% 50%;background-size:13px 13px}

	.ios .iosfix{position:fixed;left:0;top:0}
	.ui-m #menuTree{display:none;position:fixed;top:0;left:0;width:100%;height:100%;min-height:640px;background:#fff;z-index:1212;-webkit-overflow-scrolling:touch}
	
/* megamenu */
.ui-d .mgmenu-wrap{display:none;position:absolute;top:110px;left:0;width:100%;box-sizing:border-box;z-index:1000}
.ui-d .mgmenu{display:none;position:relative;width:1120px;height:440px;margin:0 auto;padding:19px 18px 20px 40px;background:#fff;border:1px solid #e51937;box-sizing:border-box}
.mgmenu.over,
.mgmenu.opened{display:block}
.ui-d .mgmenu.mgmenu1{height:320px}
.ui-d .mgmenu.mgmenu2{height:320px}
.ui-d .mgmenu.mgmenu3{height:384px}
.ui-d .mgmenu.mgmenu4{height:475px}
.ui-d .mgmenu.mgmenu5{height:424px}

.mgmenu .subtit-wrap{display:inline-block;width:187px;height:100%;padding:30px 0 0 0;border-right:1px solid #efdbdb;box-sizing:border-box}
	.ui-m .mgmenu .subtit-wrap{display:none}

.ui-d .mgmenu .subtit-wrap>strong>a{color:#000;font-weight:500;font-size:27px;text-decoration:none;line-height:1.2}
.ui-d .mgmenu .subtit-wrap p{margin-top:24px;font-size:14px;line-height:1.5}
	.ui-m .subtit-wrap p{display:none}

.ui-d .mgmenu .submenu-wrap{position:absolute;left:268px;top:50px;width:655px;height:300px;margin:0}
.ui-d .mgmenu4 .submenu-wrap, 
.ui-d .mgmenu5 .submenu-wrap{width:950px}	
.mgmenu .submenu-wrap>li{float:left;min-width:205px;min-height:65px}

.ui-d .mgmenu.mgmenu1 .submenu-wrap>li{min-height:185px}
.ui-d .mgmenu.mgmenu3 .submenu-wrap>li{min-height:185px}
.ui-d .mgmenu.mgmenu4 .submenu-wrap>li{min-width:200px}
.ui-d .mgmenu.mgmenu4 .submenu-wrap>li.mh{min-height:280px}
.ui-d .mgmenu.mgmenu5 .submenu-wrap>li{min-width:200px}
.ui-d .mgmenu.mgmenu5 .submenu-wrap>li.mh{min-height:192px}
.ui-d .mgmenu.mgmenu5 .submenu-wrap>li.rw{min-width:400px}

.mgmenu .submenu-wrap:after{content:"";clear:both;display:block}
.mgmenu .submenu-wrap>li>strong a{display:block;padding:0 0 10px;margin-bottom:5px;font-size:18px;font-weight:500;text-decoration:none;line-height:1.2}
.mgmenu .submenu-wrap>li a{display:block;padding:10px 0;color:#35373a;text-decoration:none}
.mgmenu .submenu-wrap>li a:hover{text-decoration:none}
.mgmenu .subbnr-wrap{position:absolute;right:18px;top:20px;width:176px;height:280px;box-sizing:border-box}
 	.ui-m .mgmenu .subbnr-wrap{display:none}

.submenu{padding:0;margin:0}
.submenu li a{display:block;font-size:15px;font-weight:200;text-decoration:none}

	/* mobile gnb banner */
	.ui-m .gnb-event-banner{display:none;width:78px;height:118px;margin:130px auto 0}
	.ui-m .gnb-event-banner img{max-width:100%}

	.ui-m .mgmenu-wrap{display:block;position:absolute;top:84px;left:0;padding-bottom:36px;box-sizing:border-box;z-index:1010}
	.ui-m .mgmenu{display:block;position:relative;width:100%;height:100%}
	.ui-m .mgmenu .submenu-wrap{width:100%;margin-left:108px;padding-bottom:84px;height:-webkit-fill-available;height:-moz-available;height:available;overflow-y:scroll;border-left:1px solid #b4b4b4}
	.ui-m .mgmenu .submenu-wrap>li{float:left;min-width:100%;min-height:inherit;background:#49505b}
	.ui-m .mgmenu .submenu-wrap>li>strong a{padding:10px 24px;margin:0;background:#fff;color:#32373f;font-size:13px}
	.ui-m .mgmenu .submenu-wrap>li>strong a:before{display:none}
	.ui-m .mgmenu .submenu-wrap>li a{padding:16px 24px;background:#fafafa;border-bottom:1px solid #e4e4e4;color:#32373f;font-size:13px}
	.ui-m .mgmenu .submenu-wrap>li a:before{content:"";display:inline-block;width:4px;height:4px;margin-right:6px;border:1px solid #e51937;box-sizing:border-box;vertical-align:3px}
	.ui-m .mgmenu .submenu-wrap>li a.active{background:#fff}
	/* .ui-m .mgmenu .submenu-wrap>li a.active:before{border:2px solid #fff} */

	/* mobile main only - gnb  */
	.m-gnb{padding:0 10px;box-sizing:border-box}
	.m-gnb li{float:left;width:20%;text-align:center}
	.m-gnb li.ln1{width:33%}
	.m-gnb li.ln2{width:27%}
	.m-gnb li a{display:block;padding:15px 0;color:#35373a;font-size:13px;font-weight:bold}
	.m-gnb:after{content:"";clear:both;display:block}

/* mobile-layout */
.ui-d .floating-wrap,
.ui-d .mobile-page-control{display:none}
.dim{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.75);z-index:1000}

.floating-wrap{position:fixed;bottom:70px;right:10px;text-align:right;z-index:1001}
.floating-wrap .floating-menu{width:160px}
.btn-floating{display:none;width:44px;height:44px;background:#e1002a;background-size:12px 12px;border-radius:50%;box-shadow:2px 0 4px rgba(54,53,53,.5)}
.btn-floating.on{display:block;margin-left:116px}
.btn-floating:before{content:"";display:inline-block;width:14px;height:14px;background:url(../images/common/ico_x.png) no-repeat 50% 50%;background-size:14px 14px;
	-ms-transform:rotate(45deg); /* IE 9 */
    -webkit-transform:rotate(45deg); /* Safari 3-8 */
	transform:rotate(45deg);
}
.btn-floating.open{background:#ee7602}
.btn-floating.open:before{
	-ms-transform:rotate(0deg); /* IE 9 */
    -webkit-transform:rotate(0deg); /* Safari 3-8 */
	transform:rotate(0deg);
}
.floating-menu{display:none}
.floating-menu.open{display:block}
.floating-menu:after{content:"";clear:both;display:block}
.floating-menu li{margin-bottom:12px}
.floating-menu li a{display:block;position:relative;width:160px;height:44px;padding-right:24px;background:#ee7602;border-radius:22px;box-sizing:border-box;line-height:44px;color:#fff;font-size:14px;text-align:center}
.floating-menu li a:after{content:"";position:absolute;top:15px;right:15px;display:inline-block;width:18px;height:44px;background:url(../images/common/ico_common.png) no-repeat;background-size:250px 250px;background-position:-225.5px -64px}
.floating-menu .f-m1 a:after{background-position:-150px -63px}
.floating-menu .f-m2 a:after{background-position:-150px -117px}
.floating-menu .f-m3 a:after{background-position:-150px -174px}
.floating-menu .f-m4 a:after{background-position:-150px -229px}

.mobile-page-control{position:fixed;bottom:0;left:0;width:100%;display:block;z-index:999}
.mobile-page-control button,
.mobile-page-control a{display:block;float:left;width:33.3333%;height:36px;background:#35373a;color:#fff;font-size:12px;line-height:36px;text-align:center}
.mobile-page-control button:before{content:"";display:inline-block;width:13px;height:12px;margin-right:3px;background:#35373a url(../images/common/ico_arr.png) no-repeat;background-size:12px 29px}
.mobile-page-control .btn-prev:before{background-position:0 2px}
.mobile-page-control .btn-top:before{background-position:0 -16px}
.mobile-page-control .btn-home{border-left:1px solid #4d4f51;border-right:1px solid #4d4f51;box-sizing:border-box}
.mobile-page-control .btn-home span{padding-left:18px;background:url(../images/common/ico_home.png) no-repeat 0 2px;background-size:13px 12px}

.header .btn-menu{display:none;position:absolute;top:10px;left:10px;width:30px;height:30px;background:url(../images/common/ico_menu.png) no-repeat 50% 50%;background-size:15px 11px}
.header .btn-user{display:none;position:absolute;top:10px;right:10px;width:30px;height:30px;background:url(../images/common/ico_user.png) no-repeat 50% 50%;background-size:18px 18px}
	.ui-m .header .btn-menu{display:block}
	.ui-m .header .btn-user{display:block}

/* footer */
.ui-d .footer.pdbt1{padding-bottom:220px}
.ui-m .footer.pdbt1{padding-bottom:150px}
.ui-d .footer.pdbt2{padding-bottom:80px}
.ui-m .footer.pdbt2{padding-bottom:136px}
.footer{position:relative;background:#2c2c2c}	
.footer-inner{width:1120px;margin:0 auto}
.footer-etc{margin-bottom:20px;border-bottom:1px solid #565656;box-sizing:border-box}	
.footer-etc ul{float:left;margin:20px 0 6px}	
.footer-etc:after, .footer-etc ul:after{content:"";display:block;clear:both}
.footer-etc li{float:left;margin-right:11px;margin-bottom:12px}
.footer-etc .ft-etc1 li:first-child{margin-left:0}
.footer-etc li a{color:#767676;font-size:13px}
.footer-etc li a:after{content:"";display:inline-block;width:1px;height:11px;margin-left:11px;background:#717171;vertical-align:middle}
.footer-etc li.nobar a:after{background:#2c2c2c}
.footer-etc li a strong{font-weight:500}
	.ui-m .footer-wrap{padding-bottom:10px;}
	.ui-m .footer-inner{width:100%;padding:5px 0 10px;border-bottom:1px solid #565656}	
	.ui-m .footer-etc{padding:0 10px;margin-bottom:0;border-bottom:0}
	
.footer-con{min-height:36px}
.footer-con .footer-inner{position:relative}
.ft-menu{float:left;width:144px;height:80px}
.footer-con .footer-logo{float:left;display:block;margin:5px 50px 0 0}
.footer-con .footer-logo img{max-width:100%}
	.ui-m .footer-con .footer-logo{display:block;width:44px;height:21px;}
	.ui-m .footer-con .footer-inner{padding:14px 0 0;border-bottom:0}
	.ui-m .footer-context{padding:0 10px 8px 0;border-left:67px solid transparent;box-sizing:border-box}
.footer-context p{font-size:12px;line-height:22px;color:#767676}
.footer-context .address{display:inline-block}
.footer-context a, .footer-context a:hover, .footer-context a:active{color:#5c5c5c;font-size:12px}
	.ui-m .footer-context p{line-height:18px;}
.footer-context p span{display:inline-block;margin-right:15px;white-space:nowrap}
	.ui-m .footer-context p span{white-space:normal}
.footer-context p em{color:#e51937;letter-spacing:0}
.footer-context a{display:inline-block;padding-bottom:4px;border-bottom:1px solid #3ca1d6;color:#3ca1d6}
.footer-context a:hover{color:#3ca1d6}
	.ui-m .footer-context p em{letter-spacing:-1px}
	.ui-m .footer-context .address{margin-top:8px;font-size:11px}
	.ui-m .footer-context a{margin-top:8px;font-size:11px}
.footer-context .wamark{position:absolute;top:92px;left:50%;margin-left:421px;display:inline-block}
	.ui-m .footer-context .wamark{display:none;top:130px;left:auto;right:10px;margin-left:0;width:42px}
	.ui-m .footer-context .wamark img{width:42px}
.footer-copyright p{color:#767676;font-size:12px;line-height:22px;text-transform:uppercase}
	.ui-m .footer-copyright p{color:#767676;font-size:11px}
.footer-copyright .facebook{position:absolute;top:0;right:0;display:inline-block}
.footer-copyright .facebook:before{content:"";display:inline-block;width:36px;height:38px;background:url(../images/common/ico_facebook.png) no-repeat 0 100%}
	.ui-m .footer-copyright .facebook{right:10px;top:12px}
	.ui-m .footer-copyright .facebook:before{width:18px;height:18px;background-position:0 100%;background-size:18px 50px}

.footer-site{margin:35px 0 0 -32px;padding-bottom:24px}
.footer-site:after{content:"";display:block;clear:both}
.footer-site li{float:left;margin-left:24px;margin-bottom:4px}
	.ui-m .footer-site{margin:15px 0;padding:0 10px;box-sizing:border-box}	
	.ui-m .footer-site li{width:33.33%;height:50px;margin-left:0;margin-bottom:0}
	.ui-m .footer-site li img{width:98%;max-width:100%}

.ui-d .footer-context .wamark{display:none}
.ui-d .footer .btn-ac-arrow{display:none}
	.ui-m .ft-menu{width:67px;height:124px;padding-left:10px;box-sizing:border-box}	
.ft-menu h2{display:inline-block;padding:12px 15px;color:#222;font-size:12px}
.ft-menu .btn-ac-arrow{float:right;margin:5px}
.btn-ac-arrow{width:26px;height:26px}
.btn-ac-arrow:after{content:"";display:inline-block;width:10px; height:10px;background:url(../images/common/ico_ac_arrow.png) no-repeat;background-size:10px 25px;background-position:0 0}
.btn-ac-arrow.on:after{background-position:0 -18px}
	.ui-m .footer-context .footer-copyright{display:block}
	.ui-m .footer-etc ul{float:none;margin:0}
	.ui-m .footer-etc a strong{font-weight:bold}
	.ui-m .footer-etc li{float:none;display:inline-block;padding:5px 0;margin:0 2px 0 0;text-align:center}	
	.ui-m .footer-etc li a{font-size:12px}	
	.ui-m .footer-etc li a:after{background:#2c2c2c}

/* main-banner */
.main-banner{position:relative}
.main-banner .owl-carousel .item{width:100%;height:470px;text-align:center}
.main-banner .owl-carousel .item a{display:block;width:100%;height:470px;padding:0;margin:0}
.main-banner .owl-carousel .item a span{display:inline-block;position:absolute;z-index:-10;width:0 !important;height:0 !important;overflow:hidden !important;opacity:0 !important;filter:alpha(opacity=0);-ms-filter:alpha(opacity=0);font-size:medium;line-height:normal;word-break:break-all}
.main-banner .bnr1 a{background:url(../images/main/@pm_bnr1.jpg) no-repeat 50% 50%}
.main-banner .bnr2 a{background:url(../images/main/@pm_bnr2.jpg) no-repeat 50% 50%}
.main-banner .bnr3 a{background:url(../images/main/@pm_bnr3.jpg) no-repeat 50% 50%}
.main-banner .bnr4 a{background:url(../images/main/@pm_bnr4.jpg) no-repeat 50% 50%}
.main-banner .bnr5 a{background:url(../images/main/@pm_bnr1.jpg) no-repeat 50% 50%}
	
.ui-d .main-banner .promo-controls{display:block;position:absolute;bottom:22px;left:50%;margin-left:-560px;z-index:2;box-shadow:1px 1px 1px rgba(0,0,0,.2)}
.ui-d .main-banner .promo-controls .promo-btns{position:relative}
.ui-d .main-banner .promo-controls .button{display:none;position:absolute;top:0;right:0;width:45px;height:45px;background:url(../images/main/bg_navi.png) no-repeat;text-indent:-9999em;cursor:pointer}
.ui-d .main-banner .promo-controls .button.on{display:block}
.ui-d .main-banner .promo-controls .button.promo-banner-stop{background-position:0 0}
.ui-d .main-banner .promo-controls .button.promo-banner-play{background-position:0 100%}
.ui-d .main-banner .promo-dots{display:block;width:1120px}
.ui-d .main-banner .promo-dots .owl-dot{float:left;width:216px;height:45px;background:#fff;border-left:1px solid #e9e9e9;box-sizing:border-box;color:#444;text-align:center;cursor:pointer;line-height:45px}
.ui-d .main-banner .promo-dots .owl-dot.active{background:#d0112b;color:#fff}	
.ui-d .main-banner .promo-dots div:first-child{border-left:0}
.ui-d .main-banner .promo-dots.item4 .owl-dot{width:268px}
.ui-d .main-banner .promo-dots.item4 .owl-dot:first-child{width:271px}
.ui-d .main-banner .promo-dots.item3 .owl-dot{width:358px}
.ui-d .main-banner .promo-dots.item3 .owl-dot:first-child{width:359px}
.ui-d .main-banner .promo-dots.item2 .owl-dot{width:537.5px}

	.ui-m .main-banner .owl-carousel .item a span{display:none}
	.ui-m .main-banner .owl-carousel .item{height:auto}
	.ui-m .main-banner .owl-carousel .item a{background:none;height:auto}	
	.ui-m .main-banner .promo-controls{position:absolute;bottom:10px;left:50%;margin-left:-64px;z-index:1}
	.ui-m .main-banner .promo-controls .promo-btns{display:inline-block}
	.ui-m .main-banner .promo-dots .owl-dot{display:inline-block;zoom:1;;width:12px;height:12px;border-radius:50%;margin:5px;background:transparent;border:2px solid #fff;opacity:1}
	.ui-m .main-banner .promo-dots .owl-dot.active{width:17px;height:17px;margin:2px 5px;background:#fff;vertical-align:3px}
	.ui-m .main-banner .promo-dots .owl-dot span{display:inline-block;text-indent:-9999em}
	.ui-m .main-banner .promo-controls .button{display:none;width:20px;height:20px;background:url(../images/main/bg_navi_m.png) no-repeat;
		background-size:20px 50px;text-indent:-9999em;z-index:1}
	.ui-m .main-banner .promo-controls .promo-btns{position:absolute;bottom:-2px;right:-20px}
	.ui-m .main-banner .promo-controls .button.on{display:inline-block}
	.ui-m .main-banner .promo-controls .button.promo-banner-stop{background-position:0 0}
	.ui-m .main-banner .promo-controls .button.promo-banner-play{background-position:0 -35px}


/* main-product-banner */
.main-product-banner{padding:70px 0 60px;background:#f7f7f7}
	.ui-m .main-product-banner{padding:30px 15px;background:#eef3f8}
.main-product-banner .owl-carousel .item{min-width:288px;min-height:430px;background:#f7f7f7;text-align:center}
	.ui-m .main-product-banner .owl-carousel .item{min-width:165px;min-height:294px;background:#eef3f8}
.main-product-banner .owl-carousel .owl-item.center .item{height:470px;background:url(../images/main/bg_active.png) no-repeat 50% 100%}
	.ui-m .main-product-banner .owl-carousel .owl-item.center .item{background:none}
.ui-d .main-product-banner .owl-carousel .owl-nav button{position:absolute;top:50%;margin-top:-26px;display:inline-block;width:52px;height:52px;text-indent:-9999em}
.ui-d .main-product-banner .owl-carousel .owl-nav .owl-prev{left:50%;margin-left:-160px;background:url(../images/main/bg_swipe_prev.png) no-repeat}
.ui-d .main-product-banner .owl-carousel .owl-nav .owl-next{right:50%;margin-right:-160px;background:url(../images/main/bg_swipe_next.png) no-repeat}
	.ui-m .main-product-banner .owl-carousel .owl-nav{display:block;position:absolute;top:50%;margin-top:-12px;width:100%}
	.ui-m .main-product-banner .owl-carousel .owl-nav button{width:24px;height:24px;text-indent:-9999em}
	.ui-m .main-product-banner .owl-carousel .owl-nav .owl-prev{position:absolute;left:-5px;background:url("../images/main/bg_arrow_prev.png") no-repeat 6px 2px;background-size:12px auto}
	.ui-m .main-product-banner .owl-carousel .owl-nav .owl-next{position:absolute;right:-5px;background:url("../images/main/bg_arrow_next.png") no-repeat 6px 2px;background-size:12px auto}
	.ui-m .main-product-banner .owl-carousel .owl-dots{margin-top:5px;text-align:center}
	.ui-m .main-product-banner .owl-carousel .owl-dots:after{content:"";clear:both;display:block}
	.ui-m .main-product-banner .owl-carousel .owl-dot{display:inline-block;zoom:1;width:12px;height:12px;margin:5px;border-radius:50%;background:#c4c4c4}
	.ui-m .main-product-banner .owl-carousel .owl-dot.active{background:#ea2f4b}

.main-product-banner .owl-carousel .owl-item img{display:inline-block}
.main-product-banner .item a{color:#35373a;text-align:center}
.main-product-banner .item a > span{display:block;max-width:234px;margin:0 auto;text-align:center;font-size:16px}
.main-product-banner .item .prd-top-txt{padding-top:64px;font-size:18px}
.main-product-banner .item .prd-img{margin-top:-15px;text-align:center}
.main-product-banner .item .prd-img img{width:auto;height:232px}
.main-product-banner .item .prd-svc{width:188px;height:120px;margin:47px auto 37px;background:url(../images/main/bg_usim.png) no-repeat}
.main-product-banner .item .prd-svc:after{content:"";clear:both;display:block}
.main-product-banner .item .prd-svc dl{display:inline-block;margin:0 auto;padding-top:70px}
.main-product-banner .item .prd-svc dt{position:absolute;width:0;height:0;overflow:hidden;font-size:xx-small;line-height:0}
.main-product-banner .item .prd-svc dd{float:left;position:relative;width:62px;padding-top:65px;font-size:14px;line-height:18px;text-align:center}
.main-product-banner .item .prd-svc dd:after{content:"";display:block;width:32px;height:30px;position:absolute;left:50%;top:50%;margin-left:-16px;margin-top:-25px;background:url(../images/main/bg_main.png) no-repeat}
.main-product-banner .item .prd-svc .prd-data:after{background-position:-300px -280px}
.main-product-banner .item .prd-svc .prd-voice:after{background-position:-352px -280px}
.main-product-banner .item .prd-svc .prd-sms:after{background-position:-408px -280px}

.main-product-banner .item .prd-tit{display:block;margin-top:-8px;margin-bottom:7px;font-size:18px;font-weight:500}
.main-product-banner .item .prd-sub-txt1{margin-bottom:7px;color:#2b7b9c;font-size:14px;line-height:18px}
.main-product-banner .item .prd-price{font-size:16px;vertical-align:text-bottom}
.main-product-banner .item .prd-price em{color:#de1a37;font-size:24px}
.main-product-banner .item .prd-txt{padding-top:15px;color:#7c7c7c;font-size:14px}
.main-product-banner .owl-carousel .owl-item.center span,
.main-product-banner .owl-carousel .owl-item.center .prd-price em{color:#fff}
.main-product-banner .owl-carousel .owl-item.center .prd-top-txt{padding-top:40px;font-size:18px}
.main-product-banner .owl-carousel .owl-item.center .prd-top-tit{margin-top:-38px}
.main-product-banner .owl-carousel .owl-item.center .prd-img{margin-top:-32px}
.main-product-banner .owl-carousel .owl-item.center .prd-img img{width:auto;height:322px}
.main-product-banner .owl-carousel .owl-item.center .prd-data{margin:0 auto 24px}
.main-product-banner .owl-carousel .owl-item.center .prd-tit{margin-top:-32px;font-size:18px}
.main-product-banner .owl-carousel .owl-item.center .prd-svc{margin:77px auto 70px;background:url(../images/main/bg_usim_w.png) no-repeat}
.main-product-banner .owl-carousel .owl-item.center .prd-svc .prd-data:after{background-position:-300px -320px}
.main-product-banner .owl-carousel .owl-item.center .prd-svc .prd-voice:after{background-position:-352px -320px}
.main-product-banner .owl-carousel .owl-item.center .prd-svc .prd-sms:after{background-position:-408px -320px}
.main-product-banner .main-btn-wrap{margin-top:16px}
	.ui-m .main-product-banner .item .prd-tit,
	.ui-m .main-product-banner .owl-carousel .owl-item.center .prd-tit{font-size:13px;font-weight:bold}
	.ui-m .main-product-banner .item .prd-top-txt{padding-top:15px}
	.ui-m .main-product-banner .item > span{color:#35373a;font-size:12px}
	.ui-m .main-product-banner .item .prd-tit{margin-top:-14px}
	.ui-m .main-product-banner .item .prd-price{font-size:12px}
	.ui-m .main-product-banner .item .prd-price em{color:#de1a37;font-size:19px;font-weight:bold}
	.ui-m .main-product-banner .item .prd-top-txt{padding-top:10px;font-size:14px;font-weight:bold}
	.ui-m .main-product-banner .item .prd-sub-txt1{max-width:135px;margin:0 auto 7px;color:#2b7b9c;font-size:12px;line-height:14px;word-break:break-all}
	.ui-m .main-product-banner .item .prd-txt{padding-top:10px;font-size:12px}
	.ui-m .main-product-banner .item .prd-img img{width:auto;height:182px}
	.ui-m .main-product-banner .item .prd-svc{width:119px;height:76px;margin:60px auto 40px;background:url(../images/main/bg_usim_m.png) no-repeat;background-size:119px 76px}
	.ui-m .main-product-banner .item .prd-svc dd{width:37px;padding-top:38px;font-size:12px;line-height:14px}
	.ui-m .main-product-banner .item .prd-svc .prd-data{width:42px}
	.ui-m .main-product-banner .item .prd-svc dd:after{width:20px;height:20px;margin-left:-10px;margin-top:-20px;background-size:250px 250px}
	.ui-m .main-product-banner .item .prd-svc .prd-data:after{background-position:-150px -180px}
	.ui-m .main-product-banner .item .prd-svc .prd-voice:after{background-position:-183px -180px}
	.ui-m .main-product-banner .item .prd-svc .prd-sms:after{background-position:-218px -180px}

/* main-layout */
.main-inner{width:1120px;margin:0 auto;padding:72px 0 60px;box-sizing:border-box}
	.ui-m .main-inner{width:100%;padding:16px 0 0}
.main-inner h3{color:#383838;font-size:30px;font-weight:200;text-align:center;line-height:1.5}
	.ui-m .main-inner h3{font-size:18px}

/* main-service */
.main-service{background:#fafafa}
	.ui-m .main-service{background:#edf3f3}
	.ui-m .main-service .main-inner{padding:38px 0 0}
.main-service:after{content:"";clear:both;display:block}
.mainservice-box{display:inline-block;width:348px;height:400px;margin-left:5px;background:#fff}
.ui-m .mainservice-box{height:auto}
	.ui-m .service-box{float:left;width:50%;margin-left:0;padding:0 6px;background:#edf3f3}
.mainservice-box a{display:block;;text-align:center}
.service-box a{margin-top:-5px;position:relative}
	.ui-m .service-box a{padding:0 15px 33px;background:#fff;box-shadow:1px 0 3px rgba(219,219,219,1)}
.mainservice-box:first-child{margin-left:0}
.service-box .lb-tit{display:inline-block;min-width:150px;min-height:36px;padding:10px 24px;margin-top:-18px;border-radius:20px;box-sizing:border-box;background:#63b5ab;color:#fff;font-size:16px}

	.ui-m .service-box .lb-tit{min-width:66px;min-height:14px;padding:5px 12px 7px;font-size:12px;border-radius:3px;vertical-align:10px}
.mainservice-box .img{display:block;margin-bottom:10px}
.mainservice-box .img img{width:200px;height:auto}
	.ui-m .service-box .img{padding-top:10px;height:auto}
	.ui-m .service-box .img img{max-width:100%}
.mainservice-box .txt{display:block;color:#353535;font-size:25px;font-weight:200;line-height:1.4}
	.ui-m .service-box .txt{padding:0 5px;font-size:14px}
.mainservice-box .txt strong{display:block;color:#094b4a;font-size:30px;font-weight:500}
	.ui-m .service-box .txt strong{font-size:16px;font-weight:bold}
.login-area{float:right;display:block;width:400px;padding-top:24px;padding-left:30px;background:#f0f8f7;box-sizing:border-box}
.login-area:after{content:"";display:block;clear:both}
	.ui-m .login-area{width:100%;margin-top:30px;padding:22px 10px 12px;background:#fbfcfc;border-top:1px solid #de1a37}

.login-area .btn-login{float:right;width:120px;height:70px;background:#d0112b;border-radius:3px;color:#fff;font-size:20px}
	.ui-m .login-area .btn-login{width:110px;height:40px;font-size:13px}
.login-area div{width:340px;margin-bottom:20px}
	.ui-m .login-area div{width:100%;margin-bottom:15px}

.login-area:after, .login-area div:after, .login-before2:before{content:"";clear:both;display:block}
.login-before1>span{display:inline-block;width:210px;padding-top:12px;text-align:left;line-height:1.5}
	.ui-m .login-before1>span{padding-top:0}
.login-before2 a{display:block;float:left;width:50%;min-height:45px;background:#fff;border:1px solid #dae3e2;box-sizing:border-box;color:#434343;line-height:45px;text-align:center}
.login-before2 a:first-child{border-right:0}
	.ui-m .login-before2 a{min-height:33px;line-height:33px}
.lb-box{padding:7px 5px 8px;min-width:82px;background:#254d66;border-radius:3px;box-sizing:border-box;color:#fff;font-size:14px;text-align:center}
.login-after1 .lb-box{width:150px;height:45px;padding:0;line-height:45px}
	.ui-m .lb-box{font-size:13px}
.btn-logout{width:150px;height:45px;background:#d0112b;border-radius:3px;color:#fff}
	.ui-m .btn-logout{font-size:13px}
.login-after1 .lb-box, 
.login-after2 .btn-logout{float:right}
.login-after2 .txt-tit{vertical-align:-8px}

a.btn-view{display:inline-block;padding:8px 14px;min-width:110px;background:#fff;border:1px solid #d0112b;color:#353535;font-size:13px}
.login-area div.login-after1{margin-bottom:10px}
.login-area .login-after2{margin-bottom:30px}
.login-after1 a.btn-view{float:right}
.login-after1:after{content:"";display:block;clear:both}
.login-after1 span>strong{font-size:19px;font-weight:500}
.login-after1 .txt-tit{display:inline-block;margin-top:12px}
.login-after2 .txt-tit{display:inline-block;margin-top:15px}
	.ui-m .login-after1 span>strong{font-weight:bold}
.login-after1{padding-bottom:10px;margin-bottom:8px;border-bottom:1px solid #dae3e2}

.login-area-link a{display:block;float:left;width:50%;min-height:68px;background:#fff;border:1px solid #dae3e2;box-sizing:border-box;color:#555;line-height:68px;text-align:left}
.login-area>div.login-area-link{margin-bottom:8px}
.login-area-link a span{position:relative;display:inline-block;padding-left:70px}
.login-area-link a span:before{content:"";position:absolute;left:25px;top:16px;display:inline-block;width:40px;height:44px;background:url(../images/main/bg_main.png) no-repeat;background-size:500px 500px;box-sizing:border-box}
.login-area-link a.la3-1{border-right:0}
.login-area-link a.la3-1 span:before{background-position:0 0}
.login-area-link a.la3-2 span:before{background-position:-165px 0}
.login-area-link a.la3-3{border-top:0;border-right:0}
.login-area-link a.la3-3 span:before{background-position:0 -67px}
.login-area-link a.la3-4{border-top:0}
.login-area-link a.la3-4 span:before{background-position:-165px -67px}
.login-area-event a{display:block;float:left;width:50%;min-height:45px;background:#d9f0ed;box-sizing:border-box;color:#555;line-height:45px;text-align:left}
.login-area-event a span{position:relative;display:block;padding-left:32px}
.login-area-event a span:after{content:"";position:absolute;top:18px;right:30px;display:inline-block;width:6px;height:12px;background:url(../images/main/bg_main.png) no-repeat -165px -145px;background-size:500px 500px;box-sizing:border-box}
.login-area-event a:first-child{border-right:1px solid #f0f8f7}
	.ui-m .login-area-link a{min-height:45px;line-height:42px;text-align:center}
	.ui-m .login-area-link a span{width:90px;padding-left:24px;text-align:left}
	.ui-m .login-area-link a span:before{content:"";position:absolute;left:0;top:12px;width:20px;height:22px;background-size:250px 250px}
	.ui-m .login-area-link a.la3-1 span:before{background-position:0 0}
	.ui-m .login-area-link a.la3-2 span:before{background-position:-82.5px 0}
	.ui-m .login-area-link a.la3-3 span:before{background-position:0 -33.5px}
	.ui-m .login-area-link a.la3-4 span:before{background-position:-82.5px -33.5px}
	.ui-m .login-area-event a{min-height:33px;line-height:33px}
	.ui-m .login-area-event a span:after{top:12px;right:20px}

/* 각종 혜택 */
.main-benefit{height:281px;background:url(../images/main/bg_area1.jpg) 50% 0 repeat-x}
.main-benefit h3{padding-bottom:30px;color:#fff}
.main-benefit ul li{float:left;width:25%;padding-left:8px;box-sizing:border-box;text-align:center}
.main-benefit ul:after{content:"";clear:both;display:block}
.main-benefit ul li a{display:block;padding:24px 0 26px;background:rgba(255,255,255,.1);border:1px solid #fff;border-radius:3px;box-sizing:border-box;color:#fff;font-size:17px}
.main-benefit ul li a:hover{background:#f58026;border:1px solid #f58026}
.main-benefit ul:after{content:'';clear:both;display:block}
.main-benefit ul li span{position:relative;padding-left:35px}
.main-benefit ul li span:before{content:"";display:inline-block;position:absolute;top:1px;left:0;width:35px;height:25px;background:url(../images/main/bg_main.png) no-repeat;background-size:500px 500px;box-sizing:border-box}
.main-benefit ul li.mb1 span:before{background-position:0 -145px}
.main-benefit ul li.mb2 span{padding-left:40px}
.main-benefit ul li.mb2 span:before{background-position:-200px -360px;width:40px}
.main-benefit ul li.mb3 span:before{background-position:-200px -400px;height:27px}
.main-benefit ul li.mb4 span:before{background-position:-120px -145px;top:2px}
	.ui-m .main-benefit{height:auto;background-size:cover}
	.ui-m .main-benefit .main-inner{padding:16px 0 0}
	.ui-m .main-benefit h3{padding-bottom:16px}
	.ui-m .main-benefit ul li{width:50%;padding-left:0;text-align:left}
	.ui-m .main-benefit ul li a{position:relative;padding:17px 0 12px 18px;border:1px solid #dae3e2;border-width:1px 0 0 1px;border-radius:0;font-size:13px}
	.ui-m .main-benefit ul li.mb1 a,
	.ui-m .main-benefit ul li.mb3 a{border-width:1px 0 0 0}

	.ui-m .main-benefit ul li a:after{content:"";position:absolute;top:20px;right:15px;display:inline-block;width:17px;height:6px;background:url(../images/common/ico_half_arr.png) no-repeat 100% 0;background-size:17px 6px}
	.ui-m .main-benefit ul li span{padding-left:0}

	.ui-m .main-benefit ul li.mb1 span:before{display:none}
	.ui-m .main-benefit ul li.mb2 span:before{display:none}
	.ui-m .main-benefit ul li.mb3 span:before{display:none}
	.ui-m .main-benefit ul li.mb4 span:before{display:none}

/* 이달의 핫딜 */
.main-hotdeal .lb-tag{top:46px}
	.ui-m .main-hotdeal .lb-tag{top:18px}
.main-hotdeal .lb-tit{margin-top:-28px}
	.ui-m .main-hotdeal .lb-tit{margin-top:-6px;font-weight:bold}
	.ui-m .main-hotdeal .lb-sub-txt1{color:#2b7b9c}
	.ui-m .main-hotdeal .lb-price{margin:7px 0 10px}
	.ui-m .main-hotdeal{padding-bottom:25px;background:url(../images/main/bg_hotdeal.png) repeat-x 0 100%;background-size:464px 230px}
	.ui-m .main-hotdeal h3{padding-bottom:20px}
.main-hotdeal ul li{float:left;width:33.33%;text-align:center}
	.ui-m .main-hotdeal ul{width:700px}
	.ui-m .main-hotdeal ul li{position:relative;width:212px;padding:18px 15px 0;margin-left:15px;background:#fff url(../images/main/bg_items_top.png) no-repeat;box-shadow:4px 15px 10px 0 rgba(0,0,0,.2)}
	
.main-hotdeal .prd-lb .prd-svc{width:330px;height:454px;padding:176px 70px 0;margin:0 auto;background:url(../images/main/bg_hotdeal_usim.png) no-repeat}
.main-hotdeal .prd-lb .prd-svc:after{content:"";clear:both;display:block}
.main-hotdeal .prd-lb .prd-svc dl{display:inline-block;padding-top:70px}
.main-hotdeal .prd-lb .prd-svc dt{position:absolute;width:0;height:0;overflow:hidden;font-size:xx-small;line-height:0}
.main-hotdeal .prd-lb .prd-svc dd{float:left;position:relative;width:62px;padding-top:65px;color:#35373a;font-size:14px;line-height:18px;text-align:center}
.main-hotdeal .prd-lb .prd-svc dd:after{content:"";display:block;width:32px;height:30px;position:absolute;left:50%;top:50%;margin-left:-16px;margin-top:-25px;background:url(../images/main/bg_main.png) no-repeat}
.main-hotdeal .prd-lb .prd-svc .prd-data:after{background-position:-300px -280px}
.main-hotdeal .prd-lb .prd-svc .prd-voice:after{background-position:-352px -280px}
.main-hotdeal .prd-lb .prd-svc .prd-sms:after{background-position:-408px -280px}
.main-hotdeal ul li a{display:block;margin-top:-10px}
.main-hotdeal ul:after{content:'';clear:both;display:block}
	.ui-m .main-hotdeal{overflow:hidden}
	.ui-m .main-hotdeal .hot-items{overflow-x:scroll}
	.ui-m .main-hotdeal .prd-lb .prd-svc{width:144px;height:220px;margin:0 auto;padding:82px 12px 0;background:url(../images/main/bg_hotdeal_usim_m.png) no-repeat 12px 37px;background-size:119px 157px}
	.ui-m .main-hotdeal .prd-lb .prd-svc dd{width:37px;padding-top:38px;font-size:12px;line-height:14px}
	.ui-m .main-hotdeal .prd-lb .prd-svc .prd-data{width:42px}
	.ui-m .main-hotdeal .prd-lb .prd-svc dd:after{width:20px;height:20px;margin-left:-10px;margin-top:-20px;background-size:250px 250px}
	.ui-m .main-hotdeal .prd-lb .prd-svc .prd-data:after{background-position:-150px -180px}
	.ui-m .main-hotdeal .prd-lb .prd-svc .prd-voice:after{background-position:-183px -180px}
	.ui-m .main-hotdeal .prd-lb .prd-svc .prd-sms:after{background-position:-218px -180px}

/* 결합상품 */
.main-combi{background:#fffdf6}
	.ui-m .main-combi{border-bottom:0;background:#fff}
.main-combi .main-inner{padding:50px 0 60px}
	.ui-m .main-combi .main-inner{padding:30px 0 0}
.main-combi .main-inner h3{font-weight:400}
.main-combi .combi-list li{background:#fff}
.main-combi .combi-list li .price-box{background:#fff;}
.main-combi .combi-list li .price-box dl{color:#e51937}

/* main button style */
.main-btn-wrap{text-align:center}
.main-btn-wrap:before{content:"";clear:both;display:block}	
.btn-round, button.btn-round{display:inline-block;width:184px;padding:13px 0;background:#3b3a40;border-radius:20px;box-sizing:border-box;color:#fff;font-size:16px;text-align:center;line-height:1}
	.ui-m .main-btn-wrap{margin:15px 0;box-sizing:border-box}
	.ui-m .btn-round, .ui-m button.btn-round{width:100%;min-height:46px;border-radius:0;font-size:16px}

/* 나에게 맞는 요금제 */
	.ui-m .main-payment .main-inner{padding:35px 0 20px}
	.ui-m .main-payment .main-inner h3{margin-bottom:15px}
.main-payment .tab-radio .ui-tab-btns{width:410px;margin:0 auto;text-align:center}
.main-payment .tab-radio .ui-tab-btn{width:200px;padding:0;min-height:40px;line-height:40px}
	.ui-m .main-payment .tab-radio .ui-tab-btns{width:340px;box-sizing:border-box}
	.ui-m .main-payment .tab-radio .ui-tab-btn{width:auto;padding:0 5px}
.main-payment .gauge-wrap .data-area{margin-top:-3px}

/* SK 7mobile을 선택해야 하는 이유 */
.main-brand{background:url(../images/main/bg_brand.jpg) repeat-x 50% 0}
.main-brand h3{margin-bottom:45px;color:#fff;font-size:30px;font-weight:300}
.main-brand ul{margin-bottom:75px}
.main-brand ul li{float:left;width:20%;color:#fff;font-size:16px;text-align:center;line-height:1.4}
.main-brand ul:after{content:'';clear:both;display:block}
.main-brand ul li span{display:block;position:relative;padding-top:82px}
.main-brand ul li span:before{content:"";display:block;position:absolute;left:50%;margin-left:-30px;top:0;width:64px;height:62px;background:url(../images/main/bg_main.png) no-repeat;background-size:500px 500px}
.main-brand ul li.mbrand1 span:before{background-position:0 -200px}
.main-brand ul li.mbrand2 span:before{background-position:-188px -200px}
.main-brand ul li.mbrand3 span:before{background-position:-362px -200px;width:74px;margin-left:-36px}
.main-brand ul li.mbrand4 span:before{background-position:0 -280px}
.main-brand ul li.mbrand5 span:before{background-position:-172px -280px;width:85px;margin-left:-42px}
.brand-more{padding:10px 42px 12px;border:1px solid #fff;border-radius:30px;color:#fff;font-size:24px;font-weight:300;line-height:1}	
.brand-more span{position:relative;display:inline-block;padding-left:45px}
.brand-more span:before{content:'';position:absolute;top:2px;left:0;display:inline-block;width:25px;height:25px;background:url(../images/main/bg_main.png) no-repeat -200px -145px;background-size:500px 500px}
	.ui-m .main-brand{height:348px;background:url(../images/main/bg_brand_m.jpg) 100% 100% no-repeat;background-size:100% auto}
	.ui-m .main-brand .main-inner{padding:42px 0 0}
	.ui-m .main-brand h3{margin-bottom:15px}
	.ui-m .main-brand ul{margin-bottom:0}
	.ui-m .main-brand ul li{width:33.3333%;margin-bottom:10px;font-size:14px}
	.ui-m .main-brand ul li{margin-bottom:24px;font-size:12px}
	.ui-m .main-brand ul li span:before{width:32px;height:32px;margin-left:-15px;background-size:250px 250px}
	.ui-m .main-brand ul li.mbrand1 span:before{background-position:0 -100px}
	.ui-m .main-brand ul li.mbrand2 span:before{background-position:-94px -100px}
	.ui-m .main-brand ul li.mbrand3 span:before{background-position:-181px -100px;width:36px;margin-left:-18px}
	.ui-m .main-brand ul li.mbrand4 span:before{background-position:0 -140px}
	.ui-m .main-brand ul li.mbrand5 span:before{background-position:-86px -140px;width:43px;margin-left:-21px}
	.ui-m .main-brand ul li span{padding-top:41px}
	.ui-m .main-brand ul li.mbrand4{margin-left:60px}
	.ui-m .main-brand ul li.mbrand5{margin-right:60px}
	.ui-m .brand-more{padding:9px 24px;font-size:15px}
	.ui-m .brand-more span{padding-left:15px}
	.ui-m .brand-more span:before{background:url(../images/main/bg_main.png) no-repeat -100px -72.5px;background-size:250px 250px}
	
/* 메인하단 고객센터 안내 */
.main-csinfo{background:#f7f7f7}
.main-csinfo .main-outer{border-bottom:1px solid #dbdbdb;background:#fff}
.main-csinfo .main-inner{padding:0 0 46px}
.main-csinfo .csinfo-list{width:1120px;margin:0 auto}
.main-csinfo .csinfo-list>li{float:left;width:20%;padding:0}
.main-csinfo .csinfo-list:after{content:"";display:block;clear:both}
.main-csinfo .csinfo-list>li>a{position:relative;display:block;border:1px solid #dbdbdb;border-width:0 1px 0 0;color:#383838;text-align:center;}
.ui-d .main-csinfo .csinfo-list>li>a{background-color:#fff;border:1px solid #dbdbdb;border-width:1px 1px 0 0;color:#383838;line-height:60px}
.main-csinfo .csinfo-list>li:first-of-type>a{border-width:1px 1px 0 1px}
.ui-d .main-csinfo .csinfo-list>li>a:after{content:"";position:absolute;right:24px;top:50%;margin-top:-7px;display:inline-block;width:8px;height:14px;background:url(../images/main/bg_main.png) no-repeat -470px -120px}
.ui-d .main-csinfo .csinfo-list li a:before{content:"";position:absolute;top:20px;display:inline-block;width:22px;height:22px;background:url(../images/main/bg_main.png) no-repeat}
.ui-d .main-csinfo li.csinfo-list1 a:before{left:46px;background-position:-300px -120px}
.ui-d .main-csinfo li.csinfo-list2 a:before{left:46px;background-position:-340px -120px}
.ui-d .main-csinfo li.csinfo-list3 a:before{left:52px;background-position:-380px -120px}
.ui-d .main-csinfo li.csinfo-list4 a:before{left:52px;background-position:-410px -120px}
.ui-d .main-csinfo li.csinfo-list5 a:before{left:36px;background-position:-440px -120px}

.main-csinfo .csinfo-etc{padding-top:40px}
.main-csinfo .csinfo-etc:after{content:"";display:block;clear:both}
.main-csinfo .csinfo-etc dl{float:left;width:560px;padding-left:28px}
.main-csinfo .csinfo-etc dt{margin-bottom:20px;color:#000;font-size:20px;font-weight:500;line-height:1.5}
.main-csinfo .csinfo-etc dd{font-size:18px}
.main-csinfo .csinfo-etc dd li{float:left;color:#383838;font-size:18px;margin:0 20px 10px 0}
.main-csinfo .main-notice{position:relative;display:inline-block;width:560px;padding:0 0 0 28px}
.ui-d .main-csinfo .main-notice{padding-bottom:3px;border-left:1px solid #d4d4d4}
.main-csinfo .main-notice h3{display:inline-block;margin-bottom:20px;color:#000;font-size:20px;font-weight:500}
.main-csinfo .main-notice .tit{display:block;margin-bottom:4px;color:#383838;font-size:18px;line-height:1.3}
.main-csinfo .main-notice .date{color:#7c7c7c;font-size:15px;line-height:20px;text-align:right}
.main-csinfo .main-notice .notice-more{position:absolute;right:0;top:0;display:inline-block;width:24px;height:24px;background:#fff;border:1px solid #b3b3b3;vertical-align:middle}
.main-csinfo .main-notice .notice-more:after{content:"";display:inline-block;width:24px;height:24px;background:url(../images/main/bg_main.png) no-repeat -333px -153px}

	.ui-m .main-csinfo{padding:0;margin:0;background:#fff}	
	.ui-m .main-csinfo .main-inner{padding:3px 0 0;margin:0;background:#f7f7f7}
	.ui-m .main-csinfo .csinfo-list{width:100%;padding:3px 0 8px}
	.ui-m .main-csinfo .csinfo-list>li{float:none;width:100%;padding:0 8px;margin-top:5px}
	.ui-m .main-csinfo .csinfo-list li a{position:relative;display:block;padding:18px 25px 20px 45px;border:1px solid #e3e3e6;box-sizing:border-box;color:#383838;text-align:left;font-size:15px}
	.ui-m .main-csinfo .csinfo-list li a:after{content:"";position:absolute;right:14px;top:23px;display:inline-block;width:6px;height:10px;background:url(../images/main/bg_main.png) no-repeat;background-position:-235px -40px;background-size:250px 250px}
	.ui-m .main-csinfo .csinfo-list li a:before{content:"";position:absolute;left:15px;top:15px;display:inline-block;width:20px;height:20px;margin-right:5px;background:url(../images/main/bg_main.png) no-repeat;background-size:250px 250px}
	.ui-m .main-csinfo li.csinfo-list1 a:before{background-position:-140px 0}
	.ui-m .main-csinfo li.csinfo-list2 a:before{background-position:-170px 0}
	.ui-m .main-csinfo li.csinfo-list3 a:before{background-position:-200px 0}
	.ui-m .main-csinfo li.csinfo-list4 a:before{background-position:-140px -30px}
	.ui-m .main-csinfo li.csinfo-list5 a:before{background-position:-170px -30px}

	.ui-m .main-csinfo .csinfo-etc{padding-top:15px}
	.ui-m .main-csinfo .csinfo-etc dl{float:none;width:100%;padding:0 0 10px;border-bottom:1px solid #dbdbdb}
	.ui-m .main-csinfo .csinfo-etc dt{display:table-cell;padding-left:12px;padding-right:25px;font-size:16px;font-weight:bold}
	.ui-m .main-csinfo .csinfo-etc dd{display:table-cell}
	.ui-m .main-csinfo .csinfo-etc dd li{float:none;margin-bottom:10px;font-size:14px}
	.ui-m .main-csinfo .main-notice{position:relative;width:100%;padding:15px 12px}
	.ui-m .main-csinfo .main-notice h3{padding:0 0 12px;margin-bottom:0;text-align:left;font-size:16px;font-weight:bold;}
	.ui-m .main-csinfo .main-notice ul{width:100%}
	.ui-m .main-csinfo .main-notice .tit{display:block;font-size:14px}
	.ui-m .main-csinfo .main-notice .date{float:none;display:block;margin-top:8px;color:#383838;font-size:13px;text-align:left}
	.ui-m .main-csinfo .main-notice h3:before{width:20px;height:12px;background-position:-210px -30px;background-size:250px 250px}
	.ui-m .main-csinfo .main-notice .notice-more{position:absolute;top:16px;right:14px}


.sidebar{position:absolute;top:606px;left:50%;margin-left:725px;width:132px;height:640px;box-sizing:border-box;z-index:84}
	.ui-m .sidebar{display:none}
.sidebar h2{padding:10px 0;background:#36373b;border-top-left-radius:10px;border-top-right-radius:10px;color:#fff;font-size:14px;text-align:center}
.today-bar{height:444px;margin-bottom:15px;background:#fff;border:1px solid #e4e4e4;box-shadow:1px 0 1px rgba(0,0,0,.15);border-bottom-left-radius:15px;border-bottom-right-radius:15px}
.sidebar>a{display:block;width:100%;padding:8px 0;margin:5px 0;background:#35373a;border-radius:8px;box-sizing:border-box;color:#fff;text-align:center;font-size:15px;line-height:1.3}
.sidebar>a:first-of-type{line-height:24px}
.sidebar>a.btn-top{margin-top:15px;background:#fff;border:1px solid #35373a;color:#35373a;font-weight:500}
.side-banner{position:relative;height:360px;margin:36px 0;overflow:hidden}
.side-banner .side-wrapper{position:absolute;top:0;left:50%;margin-left:-58px}
.side-banner .slide{height:120px;text-align:center;font-size:18px;background:#fff;/* Center slide text vertically */
	display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.side-banner .slide img{width:116px;height:160px}
.sidebar-button-prev{position:absolute;left:50%;margin-left:-10px;top:50px;margin-top:0;width:19px;height:12px;background:url(../images/main/swiper_arrow_top.png) no-repeat;cursor:pointer}
.sidebar-button-next{position:absolute;right:50%;margin-right:-10px;top:auto;bottom:180px;margin-top:0;width:20px;height:13px;background:url(../images/main/swiper_arrow_bottom.png) no-repeat;cursor:pointer}
.sidebar-button-prev.disabled,
.sidebar-button-next.disabled{opacity:0.2;cursor:default}

.info-box{width:510px}
.info-box>p{text-align:center;line-height:1.5}
.info-box .product-info{float:left;width:250px;height:507px;margin:38px 0 20px}
.info-box .product-info a{position:relative;display:block;height:507px;border:1px solid #e2e2e4;text-align:center}
.info-box .product-info a>img{max-width:100%;max-height:278px}

.info-box .product-info .tag{display:block;position:absolute;top:-15px;;left:50%;width:100px;height:35px;margin-left:-50px;color:#fff;line-height:35px;border-radius:5px;}
.info-box .product-info .tag.t1{background:#dc7507}
.info-box .product-info .tag.t2{background:#1a62d9}
.info-box .product-info .tag.t3{background:#cd0606}
.info-box .product-info .tag.t4{background:#12ab98}
.info-box .txt-wrap{position:relative;padding-top:0}
.info-box .txt-wrap dd .price{color:#383838;font-size:16px}
.info-box .txt-wrap dd .price strong{color:#de1a37;font-size:28px}
.info-box .txt-wrap dd .sub-txt2{display:block;padding:0 20px;margin-bottom:20px;font-size:14px;color:#7c7c7c;font-weight:200;line-height:1.5}
.info-box .txt-wrap .monthly-price{color:#383838;font-size:18px}
	.ui-m .info-box{width:100%}
	.ui-m .info-box .product-info{width:100%;}
	.ui-m .info-box .product-info a>img{max-height:175px}
	.ui-m .info-box .product-info .tag{height:22px;line-height:22px;font-size:13px}
	.ui-m .info-box .txt-wrap{padding-top:0}
	.ui-m .info-box .txt-wrap dt{font-size:14px}
	.ui-m .info-box .txt-wrap dd .sub-txt1{font-size:13px}
	.ui-m .info-box .txt-wrap dd .price{font-size:13px}
	.ui-m .info-box .txt-wrap dd .price strong{font-size:20px}
	.ui-m .info-box .txt-wrap dd .sub-txt2{font-size:13px}
	.ui-m .info-box .txt-wrap .monthly-price{font-size:13px;font-weight:bold}
	.ui-m .info-box .product-info{height:auto}
	.ui-m .info-box .product-info a{height:auto;padding-bottom:25px}

.info-box .center-info{float:left;width:250px;height:507px;padding:40px 20px;margin:38px 0 20px 10px;background:#f7f7f7;text-align:center}
.info-box .center-info h3{margin-bottom:30px;font-size:20px}
.info-box:after{content:"";display:block;clear:both}
.info-box .center-info .info-tel{color:#de1a37;}
.info-box .center-info .info-tel span{display:block;margin-bottom:15px;color:#383838;text-align:center}
.info-box .center-info .info-tel:before{content:"";display:inline-block;width:88px;height:88px;margin-bottom:24px;background:url(../images/common/ico_common.png) no-repeat -100px -200px;}
.info-box .center-info .info-tel a{color:#de1a37;font-size:16px;}
.info-box .center-info .info-tel .tel{font-size:28px;font-weight:500}
.info-box .center-info .info-txt{padding:30px 0;line-height:1.5}
.info-box .center-info .info-txt.brd-t{border-top:1px dotted #b5b5b5}
.info-box .center-info .info-txt > span{display:block;color:#000;font-size:16px}
.info-box .center-info .info-txt > strong{color:#000;font-weight:500}
	.ui-m .info-box .center-info{width:100%;height:auto;padding:30px 15px 0;margin:15px 0}
	.ui-m .info-box .center-info h3{margin-bottom:20px;font-size:16px;font-weight:bold}
	.ui-m .info-box .center-info .info-tel span{font-size:13px;font-weight:bold}
	.ui-m .info-box .center-info .info-tel .tel{font-size:22px;font-weight:bold}
	.ui-m .info-box .center-info .info-tel:before{width:71px;height:71px;margin-bottom:15px;background-position:-50px -160px;background-size:250px 250px}
	.ui-m .info-box .center-info .info-txt{padding:15px 0 20px;font-size:13px}
	.ui-m .info-box .center-info .info-txt > span{display:inline;font-size:13px;font-weight:bold}
.btn-cookie-wrap .btn{float:right;height:44px}
.btn-cookie-wrap .lb-check{padding-top:10px}

.service-box .product-info{float:left;}
.service-box .product-info a{position:relative;display:block;text-align:center}
.service-box .product-info a>img{max-width:100%;max-height:204px}

.service-box .product-info .tag{display:block;position:absolute;top:-15px;;left:50%;width:100px;height:35px;margin-left:-50px;color:#fff;line-height:35px;border-radius:5px;}
.service-box .product-info .tag.t1{background:#dc7507}
.service-box .product-info .tag.t2{background:#1a62d9}
.service-box .product-info .tag.t3{background:#cd0606}
.service-box .product-info .tag.t4{background:#12ab98}
.service-box .txt-wrap{position:relative;padding-top:0}
.service-box .txt-wrap dd .price{color:#383838;font-size:16px}
.service-box .txt-wrap dd .price strong{color:#de1a37;font-size:28px}
.service-box .txt-wrap dd .sub-txt2{display:block;padding:0 20px;margin-bottom:10px;font-size:14px;color:#7c7c7c;font-weight:200;line-height:1.5}
.service-box .txt-wrap .monthly-price{color:#383838;font-size:18px}

/* 414 이하 iPhone 8Plus etc*/
@media screen and (max-width:414px){
	.ui-m .main-product-banner .owl-carousel .item{min-width:192px}
}

/* 375 이하 iPhone X etc*/
@media screen and (max-width:375px){
	.ui-m .main-product-banner .owl-carousel .item{min-width:172.5px}
}

/* 360 이하 android */
@media screen and (max-width:360px){
	.ui-m .main-product-banner .owl-carousel .item{min-width:165px}
}

/* 320 이하 */
@media screen and (max-width:320px){
	.ui-m .gnb-event-banner{margin:70px auto 0}
	.ui-m .footer-copyright p{text-align:left;padding-left:67px}
	.ui-m .footer-etc li a{font-size:11px}
	.ui-m .footer-context p{line-height:16px}
	.ui-m .footer-context p span{margin-right:0}		


	.ui-m .service-box .lb-tit{padding:5px 5px 7px}
	.ui-m .main-benefit ul li a{padding:17px 0 12px 8px}
	.ui-m .main-benefit ul li a:after{width:11px;height:6px;right:8px;background:url(../images/common/ico_half_arr2.png) no-repeat;background-size:11px 6px}
	.ui-m .main-product-banner .owl-carousel .item{min-width:145px}
	.ui-m .main-product-banner .owl-carousel .owl-nav .owl-prev{left:-12px}
	.ui-m .main-product-banner .owl-carousel .owl-nav .owl-next{right:-12px}
	.ui-m .main-product-banner .item .prd-top-txt{font-size:13px}
	.ui-m .main-payment .tab-radio .ui-tab-btns{width:290px}
	.ui-m .main-payment .tab-radio .ui-tab-btn{padding:0;margin-left:15px;font-size:13px}
	.ui-m .main-payment	.ui-tab-btn:first-child{margin-left:0}
	.ui-m .main-brand ul li.mbrand4{margin-left:50px}
	.ui-m .main-brand ul li.mbrand5{margin-right:50px}
}
