@charset "utf-8";
/* ui modal layer popup*/
/* modal zindex값은 1000 부터 시작 */
.ui-modal{display:none;opacity:0;position:fixed;z-index:1001;width:auto;padding:0;height:auto}
.modal-open{overflow:hidden}
.ui-modal-wrap{width:100%;height:100%;background:#fff;border:1px solid #000}
.ui-modal-tit{width:100%;position:relative}
.ui-modal-tit h1{font-size:24px;color:#35373a;text-align:left;height:100%;padding:29px 54px 29px 29px;background-color:#fff;border-bottom:2px solid #f9620c;font-weight:500;line-height:1.2}
.ui-modal-cont{position:relative;overflow-y:auto;overflow-x:hidden;width:100%;padding:30px 29px 30px;background-color:#fff}
.ui-modal-tit .btn-close{position:absolute;top:50%;margin-top:-13px;right:29px;z-index:3}
.modal-backdrop{display:none;opacity:0;position:fixed;top:0;left:0;z-index:1000;width:100%;height:200%;background-color:rgba(0,0,0,0.7)}        
    .ui-m .ui-modal-cont{background:#fff;padding:20px 15px;height:auto;overflow:auto;font-size:14px}
    .ui-m .ui-modal-tit{min-height:50px;position:relative;border:0;top:0;left:0;z-index:1;padding:0;min-height:50px;max-height:100%}
    .ui-m .ui-modal-tit h1{font-size:16px;padding:14px 30px 12px 15px;width:100%;min-height:50px;height:100%;font-weight:bold}
    /* .ui-m .ui-modal-close{position:absolute;top:0;right:1.0rem;z-index:101;background-size:13.0rem 13.0rem;background-position:1.0rem 1.0rem} */
  
    .ui-m .ui-modal-full .ui-modal-tit{padding:0}
    .ui-m .ui-modal-full .ui-modal-close{right:0}
    .ui-m .ui-modal-full .ui-modal{position:relative;padding:0}
    .ui-m .ui-modal-full .base-landing,
    .ui-m .ui-modal-full .base-wrapper,
    .ui-m .ui-modal-full .ui-modal-tit,
    .ui-m .ui-modal-full .ui-modal-close{position:fixed}
    .ui-m .ui-modal-full .backdrop{background:rgba(255,255,255,1)}
    
/* ui-acco :base layout ------------------------------------------ */
.ui-acco{position:relative}
.ui-acco-wrap{position:relative;width:100%;padding:0;margin:0}
.ui-acco .ui-acco-tit{box-sizing:border-box;position:relative;border-bottom:0.1rem solid #ccc;margin:0;padding:1.0rem;background:#f2f2f2}
.ui-acco .ui-acco-tit h1{position:relative;z-index:0}
.ui-acco-btn{cursor:pointer;position:absolute;top:0;left:0;z-index:1;width:100%;height:100%;box-sizing:border-box;text-align:right}
.ui-acco .ui-acco-pnl{position:relative;box-sizing:border-box;border-bottom:0.1rem solid #ccc;margin:0;padding:2.0rem}

/* radio checkbox */
/* input[type="radio"].ui-form,
input[type="checkbox"].ui-form{position:absolute;opacity:0;z-index:-1;-webkit-appearance:none;-moz-appearance:none;appearance:none}
.ui-radio{position:relative;display:inline-block;box-sizing:border-box;margin-right:0.5rem;font-size:1.3rem;min-height:2.0rem}
.ui-radio:before{content:"";display:inline-block;vertical-align:middle;margin-right:0.5rem;background-image:url(../resources/img/common/ico_form.png);background-repeat:no-repeat;background-size:20.0rem 20.0rem;width:2.0rem;height:2.0rem}
.ui-radio:before{background-position:0 0}
.ui-radio:hover:before{background-position:-5.0rem 0}
.ui-radio.checked:before{background-position:-10.0rem 0}
.ui-radio.disabled:before{opacity:0.4}
.ui-checkbox{position:relative;display:inline-block;box-sizing:border-box;margin-right:0.5rem;font-size:1.3rem;min-height:2.0rem}
.ui-checkbox:before{content:"";display:inline-block;vertical-align:middle;margin-right:0.5rem;background-image:url(../resources/img/common/ico_form.png);background-repeat:no-repeat;background-size:20.0rem 20.0rem;width:2.0rem;height:2.0rem}
.ui-checkbox:before{background-position:0 -5.0rem}
.ui-checkbox:hover:before{background-position:-5.0rem -5.0rem}
.ui-checkbox.checked:before{background-position:-10.0rem -5.0rem;width:20.5rem;margin-right:0}
.ui-checkbox.disabled:before{opacity:0.4}
.focus{text-decoration:underline}
.ie .ui-checkbox:before,
.ie .ui-radio:before{background-image:url(../resources/img/common/ico_form.png)} */


/****** Owl Carousel */
.owl-carousel{display:none;width:100%;-webkit-tap-highlight-color:transparent;/* position relative and z-index fix webkit rendering fonts issue */position:relative;z-index:1}
.owl-carousel .owl-stage{position:relative;touch-action:pan-Y;-ms-touch-action:pan-Y;backface-visibility:hidden;-moz-backface-visibility:hidden;/* fix firefox animation glitch */}
.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;transform:translate3d(0px, 0px, 0px);/* fix for flashing background */-webkit-transform:translate3d(0px, 0px, 0px)}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item{backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  transform:translate3d(0, 0, 0);
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  -ms-transform:translate3d(0, 0, 0)}
.owl-carousel .owl-item{position:relative;min-height:1px;float:left;backface-visibility:hidden;-webkit-backface-visibility:hidden;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none}
.owl-carousel .owl-item img{display:block;max-width:100%}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled{display:none}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;
-moz-user-select:none;-ms-user-select:none;user-select:none}
.owl-carousel .owl-nav .owl-prev.disabled,
.owl-carousel .owl-nav .owl-next.disabled{opacity:0.2;cursor:default;filter:alpha(opacity=20)}
.owl-carousel.owl-loaded{display:block}
.owl-carousel.owl-loading{opacity:0;display:block}
.owl-carousel.owl-hidden{opacity:0}
.owl-carousel.owl-refresh .owl-item{visibility:hidden}
.owl-carousel.owl-drag .owl-item{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none}
.owl-carousel.owl-grab{cursor:move;cursor:grab}
.owl-carousel.owl-rtl{direction:rtl}
.owl-carousel.owl-rtl .owl-item{float:right}

/* No Js */
.no-js .owl-carousel{display:block}

/* Owl Carousel - Animate Plugin */
.owl-carousel .animated{animation-duration:1000ms;animation-fill-mode:both}
.owl-carousel .owl-animated-in{z-index:0}
.owl-carousel .owl-animated-out{z-index:1}
.owl-carousel .fadeOut{animation-name:fadeOut}
.owl-carousel .slideInUp{animation-name:slideInUp}
.owl-carousel .slideOutUp{animation-name:slideOutUp}

@keyframes fadeOut{
  0%{opacity:1}
  100%{opacity:0} 
}

@keyframes slideOutUp{
	from{transform:translate3d(0, 0, 0)}
	to{visibility:hidden;transform:translate3d(0, -100%, 0)}
}
.slideOutUp{animation-name:slideOutUp}

@keyframes slideInUp{
	from{transform:translate3d(0, 100%, 0);visibility:visible}  
	to{transform:translate3d(0, 0, 0)}
}
  
.slideInUp{animation-name:slideInUp}

/* Owl Carousel - Auto Height Plugin */
.owl-height{transition:height 500ms ease-in-out}

/* Owl Carousel - Lazy Load Plugin */
.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity 400ms ease}
.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}

/* threesixty */
.threesixty {position:relative;overflow:hidden;margin:0 auto;}
.threesixty .threesixty_images {display:none;list-style:none;margin:0;padding:0;}
.threesixty .threesixty_images img {position:absolute;top:0;width:100%;height:auto;}
.threesixty .threesixty_images img.previous-image {visibility:hidden;
  /* Do not put here any other styles.
  	It causes massive recalc / repaints and image flickering,especially on Firefox. */
}
.threesixty .threesixty_images img.current-image {visibility:visible;
  /* Do not put here any other styles.
    It causes massive recalc / repaints and image flickering, especially on Firefox. */
}
.threesixty .spinner {width:60px;display:block;margin:0 auto;height:30px;background:#333;background:rgba(0, 0, 0, 0.7);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.threesixty .spinner span {font-family:Arial, "MS Trebuchet", sans-serif;font-size:12px;font-weight:bolder;color:#FFF;text-align:center;line-height:30px;display:block}

/* html */
.threesixty:-webkit-full-screen {background:#ffffff;width:100%;height:100%;margin-top:0;padding-top:200px}
.threesixty:-moz-full-screen {background:#ffffff;width:100%;height:100%;margin-top:0;padding-top:200px}
.threesixty {position:relative;overflow:hidden;height:426px;margin:0px auto}
.threesixty .guide{display:none;position:absolute;z-index:2;top:50%;left:50%;width:121px;height:121px;margin:-61px 0px 0px -61px}
.threesixty ol.rotate_images {position:relative;z-index:1}
.threesixty ol.rotate_images li{max-width:510px}
.threesixty ol.rotate_images li img{display:none;height:100%;max-height:426px;;margin:0 auto;text-align:center}
.threesixty ol.rotate_images li img.current-image {display:block}
.threesixty ol.rotate_images li img{display:none;height:100%;max-height:426px;text-align:center}
.threesixty ol.rotate_images li img.current-image {display:inline-block}
	.ui-m .threesixty{height:auto;}
	.ui-m .threesixty .guide{width:50px;height:50px;margin:-25px 0 0 -25px;}
	.ui-m .threesixty .guide img{width:100%;}
	.ui-m .threesixty ol.rotate_images li{max-width:100%;height:auto;}
	.ui-m .threesixty ol.rotate_images li img{width:95px;max-height:100%;}
/* tab */
/* ui-tab :base layout ------------------------------------------ */
.ui-tab{position:relative}
.ui-tab-btns{position:relative;overflow:hidden}
.ui-tab-btns:after{content:"";display:block;clear:both}
.ui-tab-btn{float:left;box-sizing:border-box}
.ui-tab-btn[aria-selected="true"]:hover i,
.ui-tab-btn[aria-selected="true"]:focus i{border-bottom:0}
.ui-tab-btn:hover i,
.ui-tab-btn:focus i{border-bottom:0}
.ui-tab-pnls{box-sizing:border-box;position:relative}
.ui-tab-pnl{box-sizing:border-box;top:0;left:0} 
.ui-tab-pnl,
.ui-tab-pnl[aria-hidden='true']{display:none;position:absolute;opacity:0}
.ui-tab-pnl[aria-hidden='false']{display:block;position:relative;opacity:1;z-index:1}

/* ui-tab :base style  */
.ui-tab-btn{padding:0 24px;min-height:53px;background:#f7f7f7;border:1px solid #ddd;border-left:0;box-sizing:border-box;color:#35373a;font-size:18px;line-height:53px;text-align:center}
    .ui-m .ui-tab-btn{padding:0 2px;min-height:30px;font-size:13px;line-height:30px;white-space:nowrap}
a.ui-tab-btn:focus,
a.ui-tab-btn:active{color:#666}
a.ui-tab-btn:focus[aria-selected='true'],
a.ui-tab-btn:active[aria-selected='true']{color:#fff}

.ui-tab-btn:first-child{border-left:1px solid #ccc}
.ui-tab-btn[aria-selected='true']{background:#e51937;border:1px solid #e51937;color:#fff;font-weight:400}
.ui-tab-pnls{width:100%;font-size:16px}
.ui-tab-pnl{width:100%;padding:10px 0;top:0;left:0;background:#fff} 

/* ui-tab :eff */
.ui-tab.eff-fade .ui-tab-pnl{-webkit-transition:opacity 0.3s;-moz-transition:opacity 0.3s;-o-transition:opacity 0.3s;transition:opacity 0.3s}

.ui-tab.item2 > .ui-tab-btns >.ui-tab-btn{width:50%}
.ui-tab.item3 > .ui-tab-btns >.ui-tab-btn{width:33.3333%}
.ui-tab.item4 > .ui-tab-btns >.ui-tab-btn{width:25%}
.ui-tab.item5 > .ui-tab-btns >.ui-tab-btn{width:20%}
.ui-tab.item6 > .ui-tab-btns >.ui-tab-btn{width:16.6666%}
.ui-tab.item7 > .ui-tab-btns >.ui-tab-btn{width:14.2857%}
.ui-tab.item10 > .ui-tab-btns >.ui-tab-btn{width:20%}
.ui-tab.item3-l > .ui-tab-btns >.ui-tab-btn{width:33.3333%}
	.ui-m .ui-tab.item3-l > .ui-tab-btns >.ui-tab-btn{width:30%}
	.ui-m .ui-tab.item3-l > .ui-tab-btns >.ui-tab-btn.btn-l{width:40%}
	
	.ui-m .ui-tab.item4 > .ui-tab-btns >.ui-tab-btn{width:50%} /* 데스크탑에서는 4개, 모바일에서는 2개씩 */
	.ui-m .ui-tab.item5 > .ui-tab-btns >.ui-tab-btn{width:33.3333%} /* 데스크탑에서는 5개, 모바일에서는 3개씩 */
	.ui-m .ui-tab.item6 > .ui-tab-btns >.ui-tab-btn{width:33.3333%} /* 데스크탑에서는 6개, 모바일에서는 3개씩 */
	.ui-m .ui-tab.item7 > .ui-tab-btns >.ui-tab-btn{width:33.3333%} /* 데스크탑에서는 7개, 모바일에서는 3개씩 */
	.ui-m .ui-tab.item10 > .ui-tab-btns >.ui-tab-btn{width:50%} /* 데스크탑에서는 5개씩 2줄, 모바일에서는 2개씩 */
	
	.ui-m .ui-tab.item4 > .ui-tab-btns >.ui-tab-btn:nth-child(3){border-left:1px solid #ddd;border-top:0}
	.ui-m .ui-tab.item4 > .ui-tab-btns >.ui-tab-btn:nth-child(4){border-top:0}

	.ui-m .ui-tab.item5 > .ui-tab-btns >.ui-tab-btn:nth-child(3n+1),
	.ui-m .ui-tab.item6 > .ui-tab-btns >.ui-tab-btn:nth-child(3n+1),
	.ui-m .ui-tab.item7 > .ui-tab-btns >.ui-tab-btn:nth-child(3n+1){border-left:1px solid #ddd}
	.ui-m .ui-tab.item5 > .ui-tab-btns >.ui-tab-btn:nth-child(3n+1)[aria-selected='true'],
	.ui-m .ui-tab.item6 > .ui-tab-btns >.ui-tab-btn:nth-child(3n+1)[aria-selected='true'],
	.ui-m .ui-tab.item7 > .ui-tab-btns >.ui-tab-btn:nth-child(3n+1)[aria-selected='true']{border-left:1px solid #e51937}
	
	.ui-m .ui-tab.item5 > .ui-tab-btns >.ui-tab-btn:nth-child(4),
	.ui-m .ui-tab.item5 > .ui-tab-btns >.ui-tab-btn:nth-child(5),
	.ui-m .ui-tab.item5 > .ui-tab-btns >.ui-tab-btn:nth-child(6),
	.ui-m .ui-tab.item6 > .ui-tab-btns >.ui-tab-btn:nth-child(4),
	.ui-m .ui-tab.item6 > .ui-tab-btns >.ui-tab-btn:nth-child(5),
	.ui-m .ui-tab.item6 > .ui-tab-btns >.ui-tab-btn:nth-child(6),
	.ui-m .ui-tab.item7 > .ui-tab-btns >.ui-tab-btn:nth-child(4),
	.ui-m .ui-tab.item7 > .ui-tab-btns >.ui-tab-btn:nth-child(5),
	.ui-m .ui-tab.item7 > .ui-tab-btns >.ui-tab-btn:nth-child(6){border-top:0}

	.ui-m .ui-tab.item7 > .ui-tab-btns >.ui-tab-btn{border-top:0}
	.ui-m .ui-tab.item7 > .ui-tab-btns >.ui-tab-btn:nth-child(1),
	.ui-m .ui-tab.item7 > .ui-tab-btns >.ui-tab-btn:nth-child(2),
	.ui-m .ui-tab.item7 > .ui-tab-btns >.ui-tab-btn:nth-child(3){border-top:1px solid #ddd}
	.ui-m .ui-tab.item7 > .ui-tab-btns >.ui-tab-btn:nth-child(3n+1){border-left:1px solid #ddd}
	.ui-m .ui-tab.item7 > .ui-tab-btns >.ui-tab-btn:nth-child(1)[aria-selected='true'],
	.ui-m .ui-tab.item7 > .ui-tab-btns >.ui-tab-btn:nth-child(2)[aria-selected='true'],
	.ui-m .ui-tab.item7 > .ui-tab-btns >.ui-tab-btn:nth-child(3)[aria-selected='true']{border-top:1px solid #e51937}

.ui-tab.item10 > .ui-tab-btns >.ui-tab-btn{border-top:0}
.ui-tab.item10 > .ui-tab-btns >.ui-tab-btn:nth-child(1),
.ui-tab.item10 > .ui-tab-btns >.ui-tab-btn:nth-child(2),
.ui-tab.item10 > .ui-tab-btns >.ui-tab-btn:nth-child(3),
.ui-tab.item10 > .ui-tab-btns >.ui-tab-btn:nth-child(4),
.ui-tab.item10 > .ui-tab-btns >.ui-tab-btn:nth-child(5){border-top:1px solid #ddd}
.ui-tab.item10 > .ui-tab-btns >.ui-tab-btn:nth-child(5n+1){border-left:1px solid #ddd}

	.ui-m .ui-tab.item10 > .ui-tab-btns >.ui-tab-btn{border-top:0}
	.ui-m .ui-tab.item10 > .ui-tab-btns >.ui-tab-btn:nth-child(5n+1){border-left:0}
	.ui-m .ui-tab.item10 > .ui-tab-btns >.ui-tab-btn:nth-child(1){border-top:1px solid #ddd;border-left:1px solid #ddd}
	.ui-m .ui-tab.item10 > .ui-tab-btns >.ui-tab-btn:nth-child(2){border-top:1px solid #ddd}
	.ui-m .ui-tab.item10 > .ui-tab-btns >.ui-tab-btn:nth-child(2n+1){border-left:1px solid #ddd}
	
	
	.ui-m .ui-tab.item10 > .ui-tab-btns >.ui-tab-btn:nth-child(1)[aria-selected='true'],
	.ui-m .ui-tab.item10 > .ui-tab-btns >.ui-tab-btn:nth-child(2)[aria-selected='true']{border-top:1px solid #e51937}
	.ui-m .ui-tab.item10 > .ui-tab-btns >.ui-tab-btn:nth-child(2n+1)[aria-selected='true']{border-left:1px solid #e51937}	

/* tab - bar */
.tab-bar .ui-tab-btn[aria-selected='true']{background:#fff;border:1px solid #ddd;border-left:0;border-top:1px solid #f9620c;border-bottom:0;color:#e51937;font-weight:500}
.tab-bar .ui-tab-btn:first-child[aria-selected='true']{border-left:1px solid #ddd}
	.ui-m .tab-bar .ui-tab-btn[aria-selected='true']{background:#fff;border-top:1px solid #f9620c;border-left:0;border-right:1px solid #ddd;border-bottom:0;color:#e51937;font-weight:500}
	.ui-m .tab-bar .ui-tab-btn:first-child[aria-selected='true']{border-left:1px solid #ddd}

/* tab-menustyle */
.tab-menu .ui-tab-btn{min-height:38px;padding:0 20px;margin-left:5px;border:0;border-bottom:3px solid #e2e2e4;background:#fff;color:#666;font-weight:300}
.tab-menu .ui-tab-btn[aria-selected='true']{border-bottom:3px solid #e51937} 
.tab-menu .ui-tab-btn:first-child{margin-left:0}

/* tab-radiostyle */
.tab-radio .ui-tab-btn{min-height:38px;padding:0 20px 0 0;margin-left:5px;border:0;background:#fff;color:#7a7a7a;font-weight:300}
.tab-radio .ui-tab-btn:before{content:"";display:inline-block;width:28px;height:28px;margin-right:4px;margin-top:-5px;background:url(../images/common/bg_form.png) no-repeat -170px -50px;background-size:200px 400px;vertical-align:middle;z-index:0}
.tab-radio .ui-tab-btn[aria-selected='true']{color:#383838;font-weight:500}
.tab-radio .ui-tab-btn[aria-selected='true']:before{background-position:-170px 0}
.tab-radio .ui-tab-btn:first-child{margin-left:0}
.tab-radio .ui-tab-btn:nth-last-of-type(1){padding:0}
	.ui-m .tab-radio .ui-tab-btn{min-height:26px;padding:0 10px 0 0;color:#383838;font-size:15px;font-weight:normal}
	.ui-m .tab-radio .ui-tab-btn:before{width:21px;height:21px;margin-top:-2px;background-size:100px 200px;background-position:-75px -150px}
	.ui-m .tab-radio .ui-tab-btn[aria-selected='true']{font-weight:bold}
	.ui-m .tab-radio .ui-tab-btn[aria-selected='true']:before{background-position:-75px -120px}


/* FAQ - ACCORDIAN */
/* ui-acco :base layout ------------------------------------------ */
.ui-acco{position:relative;margin:20px 0;border-bottom:1px solid #e2e2e4}
.ui-acco-wrap{position:relative;width:100%;padding:0;margin:0;box-sizing:border-box}
.ui-acco .ui-acco-tit{position:relative;margin:0;padding:15px 30px;background:#f7f5f5;border:1px solid #e2e2e4;border-width:0 1px 0 1px;box-sizing:border-box}
.ui-acco .ui-acco-tit strong{font-size:18px;font-weight:500}	
.ui-acco .ui-acco-tit:first-child{border-top:1px solid #e2e2e4}
.ui-acco .ui-acco-tit h1{position:relative;z-index:0}
.ui-acco-btn{cursor:pointer;position:absolute;top:0;left:0;z-index:1;width:100%;height:100%;box-sizing:border-box;text-align:right}
.ui-acco .ui-acco-pnl{position:relative;margin:0;padding:20px 30px;border:1px solid #e2e2e4;border-width:1px 1px 0 1px;box-sizing:border-box;background:#fff;font-size:14px}
	
.ui-acco .ui-acco-tit .ui-acco-btn span{color:transparent}
.ui-acco .ui-acco-tit .ui-acco-btn span:before{content:'';display:inline-block;width:20px;height:12px;background:url(../images/common/bg_form.png) no-repeat 0 -200px;background-size:200px 400px}
.ui-acco .ui-acco-tit .ui-acco-btn[aria-expanded='true'] span:before{background-position:-100px -200px}
.ui-acco .ui-acco-tit .ui-acco-btn[aria-expanded='false'] span:before{background-position:0 -200px}
.ui-acco.acco-faq .ui-acco-pnl{padding:16px 30px 28px}
.ui-acco.acco-faq i{float:left;width:36px;height:36px;margin-right:14px;margin-bottom:10px;border-radius:50%;box-sizing:border-box;color:#fff;text-align:center;line-height:36px;font-weight:500;letter-spacing:0}
.ui-acco.acco-faq i.ico-q{background:#099792}
.ui-acco.acco-faq i.ico-a{background:#f9620c}
.ui-acco.acco-faq .ui-acco-pnl{background:#fcfcf7}
.faq-ans{display:block;margin-left:50px;margin-top:8px;line-height:1.55}
.faq-ans p{margin-bottom:10px}

.ui-acco.acco-faq .ui-acco-tit{background:#fff}
.ui-acco.acco-faq .ui-acco-tit strong{display:block;min-height:36px;margin-right:12px;padding-top:5px;line-height:1.55}
.ui-acco.acco-faq .ui-acco-tit strong i{margin-top:-5px;font-family:arial;font-size:18px;font-weight:normal}
.ui-acco .ui-acco-btn span{color:transparent}
.ui-acco .ui-acco-btn span:before{content:'';display:inline-block;position:absolute;top:50%;right:30px;margin-top:-6px;width:20px;height:12px;background:url(../images/common/bg_form.png) no-repeat;background-size:200px 400px}	
.ui-acco .ui-acco-btn[aria-expanded='true'] span:before{background-position:-100px -200px}
.ui-acco .ui-acco-btn[aria-expanded='false'] span:before{background-position:0 -200px}

	.ui-m .ui-acco .ui-acco-btn span:before{position:absolute;right:14px;margin-top:-3px;width:10px;height:6px;background-size:100px 200px}
	.ui-m .ui-acco .ui-acco-btn[aria-expanded='true'] span:before{background-position:-50px -100px}
	.ui-m .ui-acco .ui-acco-btn[aria-expanded='false']  span:before{background-position:0 -100px}

	.ui-m .ui-acco-wrap{padding:0}
	.ui-m .ui-acco.acco-faq{margin:10px 0 0}
	.ui-m .ui-acco .ui-acco-tit{padding:10px 12px}
	.ui-m .ui-acco .ui-acco-tit strong{font-size:14px}
	.ui-m .ui-acco .ui-acco-pnl.ui-acco .ui-acco-pnl{padding:20px 14px 20px 19px;font-size:13px}
	.ui-m .ui-acco.acco-faq .ui-acco-pnl{padding:10px 12px}
	.ui-m .ui-acco.acco-faq i{width:20px;height:20px;margin-right:5px;line-height:20px;font-size:12px}
	.ui-m .ui-acco.acco-faq .ui-acco-tit strong{min-height:20px;padding-top:0;margin-right:18px;font-size:13px}
	.ui-m .ui-acco.acco-faq .ui-acco-tit strong i{font-size:12px}
	.ui-m .ui-acco.acco-faq i.ico-q{margin-top:0}
	.ui-m .faq-ans{margin-left:27px;margin-top:0;font-size:13px}

/* range slider */
.ui-slider{position:relative;text-align:left}
.ui-slider .ui-slider-handle{position:absolute;z-index:2;width:1.2em;height:1.2em;cursor:default;-ms-touch-action:none;touch-action:none}
.ui-slider .ui-slider-range{position:absolute;z-index:1;font-size:.7em;display:block;border:0;background-position:0 0}

/* support:IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range{filter:inherit}

.ui-slider-horizontal{height:.8em}
.ui-slider-horizontal .ui-slider-handle{top:-.3em;margin-left:-.6em}
.ui-slider-horizontal .ui-slider-range{top:0;height:100%}
.ui-slider-horizontal .ui-slider-range-min{left:0}
.ui-slider-horizontal .ui-slider-range-max{right:0}

.ui-slider-vertical .ui-slider-handle{left:-.3em;margin-left:0;margin-bottom:-.6em}
.ui-slider-vertical .ui-slider-range{left:0;width:100%}
.ui-slider-vertical .ui-slider-range-min{bottom:0}
.ui-slider-vertical .ui-slider-range-max{top:0}

.gauge-wrap{width:1120px;min-height:330px;margin:0 auto;overflow:hidden}
.gauge-wrap .data-area{float:left}
.range-box-wrap{float:right;padding-top:15px;margin-bottom:40px}
.range-box-wrap.hz{padding:15px 100px 15px 0;min-width:800px}
	.ui-m .range-box-wrap.hz{min-width:100%;padding:0 20px}
	.ui-m .gauge-wrap{width:100%;min-height:auto;padding:10px 20px;box-sizing:border-box}
	.ui-m .gauge-wrap .data-area{float:none;margin-top:0}
	.ui-m .range-box-wrap{float:none}

.range-box-vertical{display:inline-block;width:420px;padding:30px 0 60px;box-shadow:5px 0 10px rgba(0,0,0,.2)}
	.ui-m .range-box-vertical{width:100%;margin:15px 0 0}
.range-box-wrap .ui-slider-vertical.ui-slider{padding:0}
.range-box-vertical.call-range{background:#f9f9f9 url(../images/common/bg_range1.png) no-repeat 100% 100%}
.range-box-vertical.data-range{margin:0 10px 0 30px;background:#f9f9f9 url(../images/common/bg_range2.png) no-repeat 100% 100%}
	.ui-m .range-box-vertical.data-range{margin:15px 0 0}
.range-area{position:relative;height:245px}
.range-box-vertical .scope{display:inline-block;width:100px;height:245px}
.range-box-vertical .scope li{position:absolute;right:57px;color:#505050;z-index:3}
.range-box-vertical .ui-slider-handle{width:100%;left:0;padding-left:10px;padding-top:30px;background:url(../images/common/btn_gauge.png) no-repeat 363px 5px;color:#fff;font-size:38px}
	.ui-m .range-box-vertical .ui-slider-handle{background:url(../images/common/btn_gauge_m.png) no-repeat 353px 5px;
	background-position:94% 5px;background-position:calc(100% - 18px) 5px;background-size:28px 28px;font-size:26px}
.range-box-vertical .ui-slider-value:before{display:inline-block;margin-right:10px;font-size:26px}
.range-box-vertical.call-range .ui-slider-value:before{content:"음성"}
.range-box-vertical.data-range .ui-slider-value:before{content:"데이터"}
	.ui-m .range-box-vertical .ui-slider-value:before{font-size:16px;vertical-align:3px}
.range-box-vertical .ui-slider-value>em{display:inline-block;margin-left:-8px;font-size:26px}

.range-box-vertical .ui-state-default{border:0;outline-color:transparent}
.range-box-vertical.call-range .ui-widget-header{border:0;background:url(../images/common/bg_range_green.png) repeat-y 100% 100%}
.range-box-vertical.data-range .ui-widget-header{border:0;background:url(../images/common/bg_range_blue.png) repeat-y 100% 100%}
.range-box-vertical.call-range .scope .scope6{bottom:0;visibility:hidden;}
.range-box-vertical.call-range .scope .scope5{bottom:18.1818%}  /* 60분 */
.range-box-vertical.call-range .scope .scope4{bottom:36.3636%}  /* 120분 */
.range-box-vertical.call-range .scope .scope3{bottom:54.5455%}  /* 180분 */
.range-box-vertical.call-range .scope .scope2{bottom:72.7273%}  /* 240분 */
.range-box-vertical.call-range .scope .scope1{bottom:90.9091%} /* 300분 */
.range-box-vertical.call-range .scope .scope0{bottom:100%;visibility:hidden;} /* 300분 이상 */
.ui-d .range-box-vertical .scope li{margin-bottom:-8px}

.range-box-vertical.data-range .scope .scope9{bottom:0;visibility:hidden} /* 0 */
.range-box-vertical.data-range .scope .scope8{bottom:11.7647%}  /* 1GB */
.range-box-vertical.data-range .scope .scope7{bottom:23.5294%}    /* 2GB */
.range-box-vertical.data-range .scope .scope6{bottom:35.2941%}  /* 3GB */
.range-box-vertical.data-range .scope .scope5{bottom:47.0588%}    /* 4GB */
.range-box-vertical.data-range .scope .scope4{bottom:58.8535%}  /* 5GB */
.range-box-vertical.data-range .scope .scope3{bottom:70.5882%}    /* 6GB */
.range-box-vertical.data-range .scope .scope2{bottom:82.3529%}  /* 7GB */
.range-box-vertical.data-range .scope .scope1{bottom:94.1176%}   /* 8GB */
.range-box-vertical.data-range .scope .scope0{bottom:100%;visibility:hidden}
	.ui-m .range-box-vertical .scope li{font-size:14px}

/* ui-slider horizontal */
.range-box-wrap .ui-slider-horizontal.ui-slider{padding:0;border-radius:10px}
.range-box{padding:60px 0;height:180px}
.range-box .range-area{position:relative;height:10px;padding:0;border-radius:10px}
.range-box.call-range .ui-slider-horizontal{background:#757575;border-radius:10px}
.range-box.call-range .ui-slider-range-min{background:#48e3d1;background:linear-gradient(to right, #10c4ab, #48e3d1);
border-radius:10px}
.range-box.data-range .ui-slider-horizontal{background:#757575;border-radius:10px}
.range-box.data-range .ui-slider-range-min{background:#3fa8ea;background:linear-gradient(to right, #1a7edc, #3fa8ea);
border-radius:10px}
.payment-range .ui-slider-value,
.range-box .ui-slider-value{margin-top:-20px;color:transparent;white-space:nowrap}
.payment-range .ui-slider-handle,
.range-box .ui-slider-handle{width:50px;height:36px;margin-left:-18px;margin-top:-36px;padding-bottom:36px;background:url(../images/common/btn_gauge_h.png) no-repeat 0 100%;text-align:center;box-sizing:content-box;outline-color:transparent}

.range-box .scope li{position:absolute;top:25px;margin-left:-10px;margin-bottom:20px;display:inline-block;font-size:14px}
.range-box.call-range .scope .scope7{left:100%;visibility:hidden}
.range-box.call-range .scope .scope6{left:90.9091%;} /* 300분*/
.range-box.call-range .scope .scope5{left:72.7273%}  /* 240분*/
.range-box.call-range .scope .scope4{left:54.5455%}  /* 180분*/
.range-box.call-range .scope .scope3{left:36.3636%}  /* 120분*/
.range-box.call-range .scope .scope2{left:18.1818%}  /* 60분*/
.range-box.call-range .scope .scope1{left:0;visibility:hidden}

.range-box.data-range .scope .scope10{left:100%;visibility:hidden}
.range-box.data-range .scope .scope9{left:94.1176%}     /* 8GB */
.range-box.data-range .scope .scope8{left:82.3529%} /* 7GB */
.range-box.data-range .scope .scope7{left:70.5882%} /* 6GB */
.range-box.data-range .scope .scope6{left:58.8235%}  /* 5GB */    
.range-box.data-range .scope .scope5{left:47.0588%} /* 4GB */
.range-box.data-range .scope .scope4{left:35.2941%} /* 3GB */
.range-box.data-range .scope .scope3{left:23.5294%} /* 2GB */
.range-box.data-range .scope .scope2{left:11.7647%} /* 1GB */
.range-box.data-range .scope .scope1{left:0;visibility:hidden} 
.range-box .value-item{margin-top:45px;font-size:24px}
.range-box .value-item span{font-size:37px}
.range-box.call-range .value-item{color:#48e3d1}
.range-box.data-range .value-item{color:#3fa8ea}	
	.ui-m .range-box{height:100px;padding:30px 42px 30px 0;background:url(../images/common/bg_range_m2.png) no-repeat 100% 30px;background-size:295px 10px}
	.ui-m .range-box .scope li{font-size:13px}
	.ui-m .range-box .value-item{font-size:14px}
	.ui-m .range-box .value-item span{font-size:23px}
	.ui-m .range-box .value-item span>em{display:inline-block;margin-left:-4px;font-size:21px;vertical-align:0}

.payment-range .range-area{position:relative;height:10px;padding:0;border-radius:10px}
.payment-range .ui-slider-horizontal{background:#757575}
.payment-range .ui-slider .ui-slider-range{background:#f8c729;background:linear-gradient(to right, #f8cd37, #f8c729)}

.payment-range .scope li{position:absolute;top:25px;margin-left:-25px;margin-bottom:20px;display:inline-block;font-size:14px}
.payment-range .scope .scope9{left:114%;width:50px;visibility:hidden}
.payment-range .scope .scope8{left:100%;width:100px}
.payment-range .scope .scope7{left:85.7143%}
.payment-range .scope .scope6{left:71.4286%}
.payment-range .scope .scope5{left:58.3333%}
.payment-range .scope .scope4{left:42.8571%}
.payment-range .scope .scope3{left:28.5714%}
.payment-range .scope .scope2{left:14.2857%}
.payment-range .scope .scope1{left:0;;margin-left:0;display:none}
.payment-range .value-item{margin-top:45px;font-size:24px;color:#f66d23}
.payment-range .value-item span{font-size:37px}
	.ui-m .range-box-wrap.hz{padding:15px 0 0 0}
	.ui-m .range-box-wrap.hz .range-box{padding-right:10px}
	.ui-m .range-box-wrap.hz .call-range{margin-bottom:20px}
	.ui-m .payment-range .scope li{font-size:12px}
	.ui-m .payment-range .scope .scope1,
	.ui-m .payment-range .scope .scope3,
	.ui-m .payment-range .scope .scope5,
	.ui-m .payment-range .scope .scope7{display:none}
	.ui-m .payment-range .scope .scope8{width:60px;line-height:1.2}
	.ui-m .payment-range .scope .scope9{display:none}
	.ui-m .payment-range .value-item{font-size:14px}
	.ui-m .payment-range .value-item span{font-size:20px}
	
.range-box-wrap .payment-range{padding:60px 100px 60px 0;margin-bottom:16px;height:180px;background:url(../images/common/bg_range.png) no-repeat 0 60px}
	.ui-m .range-box-wrap .payment-range{height:120px;padding:30px 42px 30px 0;background:url(../images/common/bg_range_m2.png) no-repeat 100% 30px;background-size:295px 10px}
.slt-range .ui-slider-handle{width:108px;height:24px;margin-left:-2px;margin-top:-2px;padding-bottom:0;background:url(../images/common/btn_gauge_w.png) no-repeat}
	.ui-m .slt-range .ui-slider-handle{width:54px;height:20px;margin-top:0;margin-left:-4px;background:url(../images/common/btn_gauge_wm.png) no-repeat;background-size:54px 20px}
	
.slt-range .ui-slider .ui-slider-range{background:#757575;border-radius:10px;}
.slt-range .ui-slider-horizontal{background:#757575;border-radius:10px}
.slt-range .ui-slider-range-min{background:#48e3d1;background:linear-gradient(to right, #10c4ab, #48e3d1);
border-radius:10px}

/* tooltip */
.ui-tooltip{display:none; position:absolute; z-index:200;width:320px !important; font-size:11px; border:1px solid #000; padding:20px; background:#fff; box-shadow:0 2px 10px rgba(0,0,0,0.3);word-break:keep-all;}
.btn-tip{display:inline-block;overflow:hidden;position:relative;top:-2px;width:18px;height:18px;margin-left:5px;font-size:xx-small;color:transparent;vertical-align:middle;background:url(../images/common/ico_tooltip.png) 0 0 no-repeat;}
.ui-tooltip.ps-ct .tt-arrow,
.ui-tooltip.ps-cb .tt-arrow,
.ui-tooltip.ps-lt .tt-arrow,
.ui-tooltip.ps-lb .tt-arrow,
.ui-tooltip.ps-rt .tt-arrow,
.ui-tooltip.ps-rb .tt-arrow{content:""; position:absolute; display:block; width:14px; height:11px; background:url(../images/common/ico_tooltip_arrow.png) 0 0 ;}
.ui-tooltip.ps-ct .tt-arrow{left:50%; bottom:-11px;  margin-left:-5px}
.ui-tooltip.ps-lt .tt-arrow{left:0; bottom:-11px;  margin-left:10px}
.ui-tooltip.ps-rt .tt-arrow{right:0; bottom:-11px;  margin-right:10px}
.ui-tooltip.ps-cb .tt-arrow{left:50%; top:-11px;  margin-left:-5px;background-position:0 100%;}
.ui-tooltip.ps-lb .tt-arrow{left:0; top:-11px;  margin-left:10px;background-position:0 100%;}
.ui-tooltip.ps-rb .tt-arrow{right:0; top:-11px;  margin-right:10px;background-position:0 100%;}
.ui-tooltip h2.title{margin-bottom:15px;font-size:18px;font-weight:500;}
.ui-tooltip dl{margin-top:20px;}
.ui-tooltip dl:first-child{margin-top:0}
.ui-tooltip dl dt{margin-bottom:5px;font-size:16px;font-weight:400;}
.ui-tooltip dl dd{font-size:16px;font-weight:200;}
.ui-tooltip p.tit-sub{font-size:16px;font-weight:200;}
	.ui-m .ui-tooltip-btn{display:none;}

@media screen and (max-width:320px){
	.ui-m .gauge-wrap{padding:10px 15px 0 10px}
}